﻿@model dms.View_Model.DocumentViewModel
@{
    ViewBag.Title = "AuthorizeDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg">
    <!-- START card -->
    <div class="card card-default m-t-20">
        <div class="card-body">
            @using (Html.BeginForm("AuthorizeDocument", "Documents", FormMethod.Post, new
            {
                enctype = "multipart/form-data",
                role = "form",
                @id = "addConsult",
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="invoice padding-50 sm-padding-10">
                    <div>
                        <div class="center-div">
                            <img height="150" alt="" class="invoice-logo" src="~/img/logo.jpg" />
                        </div>
                        <div style="text-align:center;">
                            <h2 style="font-weight:bold;font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;text-transform: uppercase;">OFFICE OF THE @Model.user.UserGroup.GroupName</h2>
                            <p style="font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;font-size:14px;">
                                @Model.user.Address
                            </p>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-12" style="margin-bottom:20px;">
                        <div class="row">
                            <div class="col-lg-5 col-sm-height sm-no-padding">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Address To</label>
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @rows = "6", @col = "6", @id = "address", @required = "required" })
                                </div>
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-3 sm-no-padding sm-p-b-20 d-flex align-items-end justify-content-between">
                                <div>
                                    <div class="form-group form-group-default required">
                                        <label>Reference No.</label>
                                        <div class="input-group date col-md-12 p-l-0">
                                            @Html.TextBoxFor(m => m.RefNo, new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Date</label>
                                        <div class="input-group date col-md-12 p-l-0">
                                            @Html.TextBoxFor(m => m.Date, new { @class = "form-control", @id = "datepicker-component", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group form-group-default form-group-default-select2 required">
                                    <label class="">Type of Document</label>
                                    @Html.DropDownListFor(m => m.TypeId, new SelectList(Model.DocumentType, "Id", "DocumentTypeName"), "", new { @class = "full-width", @id = "selGroup", @data_placeholder = "Select Document Type", @data_init_plugin = "select2", @required = "required" })
                                </div>
                                <div class="form-group form-group-default required ">
                                    <label>Subject</label>
                                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @required = "required", @autocomplete = "false" })
                                </div>
                                <div class="form-group form-group-default required">
                                    <label>Content</label>
                                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @rows = "10", @col = "10", @id = "summernote" })
                                </div>
                                <div class="form-group form-group-default form-group-default-select2 required">
                                    <label class="">Send Letter</label>
                                    @Html.DropDownListFor(m => m.TransferedToId, new SelectList(Model.TransferedTo, "Id", "GroupName"), "", new { @class = "full-width", @id = "selGroup", @data_placeholder = "Select who to send the Letter to", @data_init_plugin = "select2", @required = "required" })
                                </div>
                                <div class="form-group">
                                    <div class="checkbox check-success">
                                        <input type="checkbox" class="form-check-input" value="1" id="authorizeCheck">
                                        <label for="authorizeCheck">Authorize Letter</label>
                                    </div>
                                </div>

                                <br />
                                <div class="form-group pull-right">
                                    <input type="submit" class="btn btn-success btn-cons btn-animated" name="saveDocument" id="saveDocument" value="Authorize">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- END card -->
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#saveDocument").click(function(){
            if ($("authorizeCheck").is(":not(:checked)")) {
                alert("Checkbox is checked.");
                return false;
            }
        });
    });
</script>