﻿@model dms.View_Model.DocumentViewModel
@{
    ViewBag.Title = "DocumentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg">
    <!-- START card -->
    <div class="card card-default m-t-20">
        <div class="card-body">
            <div class="invoice padding-50 sm-padding-10">
                <div>
                    <div class="center-div">
                        <img height="150" alt="" class="invoice-logo" src="~/img/logo.jpg" />
                    </div>
                    <div style="text-align:center;">
                        <h2 style="font-weight:bold;font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;text-transform: uppercase;">OFFICE OF THE @Model.user.UserGroup.GroupName</h2>
                        <p style="font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;font-size:14px;">
                            @Model.user.Address
                        </p>
                    </div>
                </div>
                <br>
                <br>
                <!--Show Letter format if the document is a memo-->
                @if (Model.DocumentDetails.DocumentTypeId == 1)
                {
                    <div class="col-12" style="margin-bottom:20px;">
                        <div class="row">
                            <div class="col-lg-5 col-sm-height sm-no-padding">
                                <div class="form-group">
                                    <label>Address To</label>
                                    <label>@Model.DocumentDetails.Address</label>
                                </div>
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-3 sm-no-padding sm-p-b-20 d-flex align-items-end justify-content-between">
                                <div>
                                    <div class="form-group form-group-default">
                                        <label>Reference No.</label>
                                        <div class="input-group date col-md-12 p-l-0">
                                            <label>@Model.DocumentDetails.RefNo</label>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>Date</label>
                                        <div class="input-group date col-md-12 p-l-0">
                                            <label>@Model.DocumentDetails.Date.ToShortDateString()</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12" style="margin-bottom:20px;">
                                <label style="font-weight:bold; font-size:16px;color:#000000;">SUBJECT: @Model.DocumentDetails.Subject</label>
                                <br />
                            </div>
                            <div class="col-12">
                                @Html.Raw(Model.DocumentDetails.Note)
                                <br />
                            </div>
                        </div>
                    </div>
                }
                
                else if (Model.DocumentDetails.DocumentTypeId == 2)
                {
                    <hr class="customHr"/>
                    <div class="col-12" style="margin-bottom:20px;">
                        <div style="text-align:center;">
                            <h2 style="font-weight:bold;font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;font-size:20px;">INTERNAL MEMO</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <dl class="dl-horizontal">
                                    <dt>Reference No:</dt>
                                    <dd>@Model.DocumentDetails.RefNo</dd>
                                    <dt>From:</dt>
                                    <dd>@Model.user.UserGroup.GroupName</dd>
                                    <dt>To:</dt>
                                    <dd>@Model.DocumentDetails.TransferedTo.GroupName</dd>
                                    <dt>Date:</dt>
                                    <dd>@Model.DocumentDetails.Date.ToShortDateString()</dd>
                                    <dt>SUBJECT:</dt>
                                    <dd style="font-weight:bold;">@Model.DocumentDetails.Subject</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <hr class="customHr"/>
                    <br />
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                @Html.Raw(Model.DocumentDetails.Note)
                                <br />
                            </div>
                        </div>
                    </div>
                }
                
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group pull-right">
                                @if (Model.DocumentDetails.User.UserGroupId == Model.user.UserGroupId)
                                {
                                    @Html.ActionLink("Preview PDF of Document", "PreviewDocument", new { id = Model.DocumentDetails.Id }, new { @class = "btn btn-success btn-cons btn-animated", @target = "_blank" })
                                    if (Model.user.UserType == dms.Models.UserType.Staff)
                                    {
                                        @Html.ActionLink("Edit Document", "NewDocument", new { id = Model.DocumentDetails.Id }, new { @class = "btn btn-success btn-cons btn-animated" })
                                    }
                                    else if (Model.user.UserType == dms.Models.UserType.Superior)
                                    {
                                        @Html.ActionLink("Send/Authorize Document", "AuthorizeDocument", new { id = Model.DocumentDetails.Id }, new { @class = "btn btn-success btn-cons btn-animated" })
                                    }
                                }
                                else
                                {
                                    @Html.ActionLink("Preview PDF of Document", "PreviewDocument", new { id = Model.DocumentDetails.Id }, new { @class = "btn btn-success btn-cons btn-animated", @target = "_blank" })
                                    <input type="submit" class="btn btn-success btn-cons btn-animated" name="saveDocument" value="Reply Document">
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END card -->
</div>