﻿
@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START card -->
    <div class="card card-transparent">
        <div class="card-header  d-flex justify-content-between">
            <div class="card-title">
                File List
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-responsive-block" id="DocumentTable" style="width:100%;">
                <thead>
                    <tr>
                        <th>Date Submitted</th>
                        <th>Reference Number</th>
                        <th>Status</th>
                        <th>View Details</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- END card -->
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#DocumentTable').DataTable({
            "bServerSide": true,
            "processing": true,
            "sAjaxSource": "/Documents/GetFiles",
            "sServerMethod": "POST",
            "aoColumns": [
            { "mData": "DateSubmitted", "name": "DateSubmitted", "autoWidth": true },
            { "mData": "ReferenceNumber", "name": "ReferenceNumber", "autoWidth": true },
            {
                data: "status",
                "render": function (data, type, row) {
                    //Commissioner's Desk
                    if (row.Status === 7) {
                        return '<span class="label label-primary">Commissioner&#39s Desk</span>';
                    }
                    //Permanent Secretary's Desk
                    else if (row.Status === 8) {
                        return '<span class="label label-success">Permanent Secretary&#39s Desk</span>';
                    }
                    //Accountant General's Desk
                    else if (row.Status === 9) {
                        return '<span class="label label-info">Accountant General&#39s Desk</span>';
                    }
                    //Deputy Accountant General's Desk
                    else if (row.Status === 10) {
                        return '<span class="label label-warning">Deputy Accountant General&#39s Desk</span>';
                    }
                    //Deputy Director General's Desk
                    else if (row.Status === 11) {
                        return '<span class="label label-danger">Deputy Director General&#39s Desk</span>';
                    }
                    //Director Funds' Desk
                    else if (row.Status === 12) {
                        return '<span class="label label-default">Director Funds&#39 Desk</span>';
                    }
                    //Paying Bank
                    else if (row.Status === 13) {
                        return '<span class="label label-success">Paying Bank</span>';
                    }
                }
            },
            {
                "searchable": false,
                "orderable": false,
                "mData": function (o) {
                    return "<a href='/Documents/FileDetails?Id=" + o.Id + "' class='btn btn-info'>View Details</a>";
                }
            }
            ],
        });
    });

</script>