﻿@model dms.View_Model.FileDetailsViewModel
@{
    ViewBag.Title = "FileDetails";
}

<!-- START CONTAINER FLUID -->
<div class=" container-fluid   container-fixed-lg">
    <!-- START card -->
    <div class="card card-default m-t-20">
        <div class="card-body">
            <div class="invoice padding-50 sm-padding-10">
                <div>
                    <div class="pull-left">
                        <div class="col-md-4">
                            <br>
                            @{
                                if (Model.File.Status == dms.Models.DocumentStatus.Commissioner)
                                {
                                    if (Model.role.Single().Value.ToString() == "Commissioner")
                                    {
                                        <select id="action-dropdown" class="cs-select cs-skin-slide" data-init-plugin="cs-select">
                                            <option value="0">Actions</option>
                                            <option value='1'>Forward to Permanent Secretary</option>
                                            <option value='2'>Reject</option>
                                            <option value='3'>Back</option>
                                        </select>
                                    }
                                }
                                else if (Model.role.Single().Value.ToString() == "Permanent Secretary")
                                {
                                    if (Model.role.Single().Value.ToString() == "Permanent Secretary")
                                    {
                                        <select id="action-dropdown" class="cs-select cs-skin-slide" data-init-plugin="cs-select">
                                            <option value="0">Actions</option>
                                            <option value='1'>Forward to Accountant General</option>
                                            <option value='2'>Reject</option>
                                            <option value='3'>Back</option>
                                        </select>
                                    }
                                }
                                else if (Model.role.Single().Value.ToString() == "Accountant General")
                                {
                                    if (Model.role.Single().Value.ToString() == "Accountant General")
                                    {
                                        <select id="action-dropdown" class="cs-select cs-skin-slide" data-init-plugin="cs-select">
                                            <option value="0">Actions</option>
                                            <option value='1'>Forward to Deputy Accountant General</option>
                                            <option value='2'>Reject</option>
                                            <option value='3'>Back</option>
                                        </select>
                                    }
                                }
                                else if (Model.role.Single().Value.ToString() == "Deputy Accountant General")
                                {
                                    if (Model.role.Single().Value.ToString() == "Deputy Accountant General")
                                    {
                                        <select id="action-dropdown" class="cs-select cs-skin-slide" data-init-plugin="cs-select">
                                            <option value="0">Actions</option>
                                            <option value='1'>Forward to Deputy Director Treasury</option>
                                            <option value='2'>Reject</option>
                                            <option value='3'>Back</option>
                                        </select>
                                    }
                                }
                                else if (Model.role.Single().Value.ToString() == "Deputy Director Treasury")
                                {
                                    if (Model.role.Single().Value.ToString() == "Deputy Director Treasury")
                                    {
                                        <select id="action-dropdown" class="cs-select cs-skin-slide" data-init-plugin="cs-select">
                                            <option value="0">Actions</option>
                                            <option value='1'>Forward to Director Funds</option>
                                            <option value='2'>Reject</option>
                                            <option value='3'>Back</option>
                                        </select>
                                    }
                                }
                                else if (Model.role.Single().Value.ToString() == "Director Funds")
                                {
                                    if (Model.role.Single().Value.ToString() == "Director Funds")
                                    {
                                        <select id="action-dropdown" class="cs-select cs-skin-slide" data-init-plugin="cs-select">
                                            <option value="0">Actions</option>
                                            <option value='1'>Forward to Paying Banks</option>
                                            <option value='2'>Reject</option>
                                            <option value='3'>Back</option>
                                        </select>
                                    }
                                }
                            }
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="pull-right sm-m-t-20">
                        <div>
                            @*Hidden element to save file ID*@
                            @Html.HiddenFor(m => m.FileId)
                            @Html.HiddenFor(m => m.ReferenceNumber)
                            <h2 class="font-montserrat all-caps hint-text">Ref. No: @Model.ReferenceNumber</h2>
                        </div>
                        <div>
                            <div class="m-b-30 m-l-30 m-r-30 d-sm-none d-md-block d-lg-block d-xl-block">
                                <a href=@Url.Action("Index", "Timeline", new { @FileId = Model.FileId}) class="btn btn-complete btn-block btn-compose">View Timeline</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <br>
                <br>
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-9 col-sm-height sm-no-padding">
                            <p class="small no-margin">Received by</p>
                            <h5 class="semi-bold m-t-0">@Model.File.User.FirstName @Model.File.User.LastName</h5>
                        </div>
                        <div class="col-lg-3 sm-no-padding sm-p-b-20 d-flex align-items-end justify-content-between">
                            <div>
                                <div class="font-montserrat bold all-caps">Date Received:</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="text-right">
                                <div class="">@Model.File.DateSubmitted.ToString("dddd, dd MMMM yyyy HH:mm:ss")</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-invoice">
                    <table class="table m-t-50">
                        <thead>
                            <tr>
                                <th class="">Document Path</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var file in Model.UploadedDocuments)
                            {
                                <tr>
                                    <td class="">
                                        <p class="text-black">@file.SystemGeneratedsReferenceNumber</p>
                                        <p class="small hint-text">
                                            <a href=@HttpUtility.UrlPathEncode(file.FilePath)>View</a>
                                        </p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- END card -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    //AJAX reference numbers
    var fileId = $('#FileId').val();
    var systemReferenceGeneratedReferenceNumber = $('#ReferenceNumber').val();

    $('#action-dropdown').change(function () {
        if ($(this).val() == 1) {
            forwardFileToCommissioner()
        }
        if ($(this).val() == 2) {
            alert("2");
        }
        if ($(this).val() == 3) {
            alert("3");
        }
    });

    //Forward file using ajax
    function forwardFileToCommissioner() {
        //Make ajax call to the controller
        $.ajax({
            url: '/Workflow/Forward',
            async: false,
            data:
            {
                'fileId': fileId,
                'systemReferenceGeneratedReferenceNumber': systemReferenceGeneratedReferenceNumber
            },
            success: function () {
                alert("File forwarded successfully");
                window.location.href = '/Documents/Documents/'
            }
        });
    }
</script>
