﻿@using dms.View_Model
@model UploadedDocumentsViewModel
@{
    ViewBag.Title = "UploadDocuments";
}

    <div class="col-lg-12">
        <div class="card-body clearfix" style="margin-bottom:-25px; margin-top:-30px;">
            <div class="row">
                <div class="alert alert-success full-width" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    @if (TempData["Success"] != null)
                    {
                        <strong>@TempData["Success"].ToString()</strong>
                    }
                    else
                    {
                        <strong>...</strong>
                    }
                </div>
            </div>
        </div>
        <!-- START card -->
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">
                    Upload a New Document
                </div>
            </div>
            <div class="card-body">
                <h5>
                    <strong>Please enter the reference number of the document and upload the supporting documents using the form below.</strong>
                </h5>
                @using (Html.BeginForm("UploadDocuments", "Documents", FormMethod.Post, new
                {
                    enctype = "multipart/form-data",
                    @class = "",
                    role = "form",
                    @id = "uploadDocumentsForm",
                    onsubmit = ""
                }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Ref No:</label>
                        <span class="help">"CAG/237/VOL.1/099"</span>
                        @Html.TextBoxFor(m => m.ReferenceNumber, new { @class = "form-control", placeholder = "e.g. Ref. No: CAG/237/VOL.1/099", required = "required" })
                    </div>
                    <div class="form-group">
                        <div class="form-input-group">
                            <label>File Upload</label>
                            <div class="fallback">
                                @Html.TextBoxFor(m => m.FilePaths, new { type = "file", @class = "form-control", @onchange = "checkFileSize(this)", @multiple = "multiple" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Upload Document(s)" id="submit" />
                    </div>
                }
            </div>
        </div>
        <!-- END card -->
    </div>

