﻿@using dms.View_Model
@model DashboardViewModel
@{
    ViewData["Title"] = "Index";
}
@*Hide divs based on role of currently logged in user*@
@{
    var liCommissioner = Model.role.Single().Value.ToString() == "Commissioner" ? "hide" : "";
    var liPA = Model.role.Single().Value.ToString() == "PA" ? "hide" : "";
    var liPermanentSecretary = Model.role.Single().Value.ToString() == "Permanent Secretary" ? "hide" : "";
    var liAccountantGeneral = Model.role.Single().Value.ToString() == "Accountant General" ? "hide" : "";
    var liDeputyAccountantGeneral = Model.role.Single().Value.ToString() == "Deputy Accountant General" ? "hide" : "";
    var liDeputyDirectorTreasury = Model.role.Single().Value.ToString() == "Deputy Director Treasury" ? "hide" : "";
    var liDirectorFunds = Model.role.Single().Value.ToString() == "Director Funds" ? "hide" : "";
}
@*DIVS ARE HIDDEN/DISPLAYED BASED ON ROLE OF THE CURRENTLY LOGGED IN USER*@
@*COMMISSIONER DASHBOARD*@
<div class="commissionerdashboard @liPA @liPermanentSecretary @liAccountantGeneral @liDeputyAccountantGeneral @liDeputyDirectorTreasury @liDirectorFunds">
    <div class="row col-12">
        <!-- START CONTAINER FLUID -->
        <div class="card-body clearfix" style="margin-bottom:-25px; margin-top:-30px;">
            <div class="row">
                <div class="alert alert-success full-width" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    <strong>Commissioner's Office: </strong>@Model.pendingDocuments Files Pending.
                </div>
            </div>
        </div>
    </div>
    <!--END CONTAINER FLUID-->
    <!-- START GALLERY ITEM -->
    <div class="row col-12">
        @*DOCUMENTS SECTION*@
        <div class="gallery-item col-6" data-width="2" data-height="1">
            <a href=@Url.Action("Documents", "Documents")>
                <!-- START PREVIEW -->
                <img src="~/site/assets/img/custom/documents.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                    <div class="overlayer-wrapper item-info ">
                        <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                            <div class="">
                                <p class="pull-left bold text-white fs-14 p-t-10">Pending Files</p>
                                @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                                <div class="clearfix"></div>
                            </div>
                            <div class="m-t-10">
                                <div class="thumbnail-wrapper d32 circular m-t-5">
                                    <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
            </a>
        </div>
        <!-- END GALLERY ITEM -->
        <!-- START GALLERY ITEM -->
        <div class="col-6">
            <a href=@Url.Action("MandateList", "Voucher")>
                <div class="gallery-item" data-width="2" data-height="1">
                    <!-- START PREVIEW -->
                    <img src="~/site/assets/img/custom/mandates.jpg" alt="" class="image-responsive-height">
                    <!-- END PREVIEW -->
                    <!-- START ITEM OVERLAY DESCRIPTION -->
                    <a href=@Url.Action("PaidMandates", "Voucher")>
                        <div class="overlayer bottom-left full-width">
                            <div class="overlayer-wrapper item-info ">
                                <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                    <div class="">
                                        <p class="pull-left bold text-white fs-14 p-t-10">Paid Mandates</p>
                                        @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="m-t-10">
                                        <div class="thumbnail-wrapper d32 circular m-t-5">
                                            <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- END PRODUCT OVERLAY DESCRIPTION -->
                </div>
            </a>
        </div>
    </div>
    <div class="row col-12">
        <div class="col-md-6 m-b-10">
            <!-- START WIDGET D3 widget_graphTileFlat-->
            <div class="widget-8 card no-border bg-warning no-margin widget-loader-bar">
                <div class="container-xs-height full-height">
                    <div class="row-xs-height">
                        <div class="col-xs-height col-top">
                            <div class="card-header  top-left top-right">
                                <div class="card-title text-black hint-text">
                                    <span class="font-montserrat fs-16 all-caps">
                                        <a href=@Url.Action("AllAccounts", "BankAccounts")>
                                            View
                                        </a>
                                        <i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                                <div class="card-controls">
                                    <ul>
                                        <li>
                                            <a data-toggle="" class="card-refresh text-black" href="#">
                                                <i class="card-icon card-icon-refresh"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-xs-height ">
                        <div class="col-xs-height col-top relative">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="p-l-20">
                                        <a href=@Url.Action("AllAccounts", "BankAccounts")><h3 class="no-margin p-b-5 text-white">Consolidated Revenue Accounts</h3></a>
                                        @*<p class="small hint-text m-t-5">
                                                <span class="label  font-montserrat m-r-5">60%</span>Higher
                                            </p>*@
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="warning" data-stroke-width="2">
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END WIDGET -->
        </div>
        <div class="col-md-6 m-b-10">
            <!-- START WIDGET D3 widget_graphTileFlat-->
            <div class="widget-8 card no-border bg-success no-margin widget-loader-bar">
                <div class="container-xs-height full-height">
                    <div class="row-xs-height">
                        <div class="col-xs-height col-top">
                            <div class="card-header  top-left top-right">
                                <div class="card-title text-black hint-text">
                                    <span class="font-montserrat fs-16 all-caps">
                                        <a href=@Url.Action("AllAccounts", "BankAccounts")>
                                            View
                                        </a><i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                                <div class="card-controls">
                                    <ul>
                                        <li>
                                            <a data-toggle="refresh" class="card-refresh text-black" href="#">
                                                <i class="card-icon card-icon-refresh"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-xs-height ">
                        <div class="col-xs-height col-top relative">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="p-l-20">
                                        <a href=@Url.Action("AllAccounts", "BankAccounts")><h3 class="no-margin p-b-5 text-white">IGR Accounts</h3></a>
                                        <p class="small hint-text m-t-5">
                                            @*<span class="label  font-montserrat m-r-5">60%</span>Higher*@
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="warning" data-stroke-width="2">
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END WIDGET -->
        </div>
    </div>
</div>
@*PA DASHBOARD*@
<div class="padashboard @liCommissioner @liPermanentSecretary @liAccountantGeneral @liDeputyAccountantGeneral @liDeputyDirectorTreasury @liDirectorFunds">
    <div class="row col-12">
        <!-- START CONTAINER FLUID -->
        <div class="card-body clearfix" style="margin-bottom:-25px; margin-top:-30px;">
            <div class="row">
                <div class="alert alert-success full-width" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    <strong>PA's Office: </strong>@Model.pendingDocuments Files Pending.
                    @if (TempData["Success"] != null)
                    {
                        <strong>@TempData["Success"].ToString() </strong>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- START GALLERY ITEM -->
    <div class="row col-12">
        <div class="col-6">
            <div class="gallery-item" data-width="2" data-height="1">
                <!-- START PREVIEW -->
                @*REDIRECT PA TO A PAGE WHERE THEY CAN UPLOAD NEW DOCUMENTS*@
                <a href=@Url.Action("UploadDocuments", "Documents")>
                    <img src="~/site/assets/img/custom/documents.jpg" alt="" class="image-responsive-height">
                    <!-- END PREVIEW -->
                    <!-- START ITEM OVERLAY DESCRIPTION -->

                    <div class="overlayer bottom-left full-width">
                        <div class="overlayer-wrapper item-info ">
                            <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                <div class="">
                                    <p class="pull-left bold text-white fs-14 p-t-10">New Document</p>
                                    @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                                    <div class="clearfix"></div>
                                </div>
                                <div class="m-t-10">
                                    <div class="thumbnail-wrapper d32 circular m-t-5">
                                        <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
            </div>
        </div>
        <!-- END GALLERY ITEM -->
        <!-- START GALLERY ITEM -->
        <div class="col-6">
            <div class="gallery-item" data-width="2" data-height="1">
                <!-- START PREVIEW -->
                <a href=@Url.Action("Documents", "Documents")>
                    <img src="~/site/assets/img/custom/completeddocument.jpg" alt="" class="image-responsive-height">
                    <!-- END PREVIEW -->
                    <!-- START ITEM OVERLAY DESCRIPTION -->
                    <div class="overlayer bottom-left full-width">
                        <div class="overlayer-wrapper item-info ">
                            <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                <div class="">
                                    <p class="pull-left bold text-white fs-14 p-t-10">All Documents</p>
                                    @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                                    <div class="clearfix"></div>
                                </div>
                                <div class="m-t-10">
                                    <div class="thumbnail-wrapper d32 circular m-t-5">
                                        <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
            </div>
        </div>
    </div>
</div>
@*PERMANENT SECRETARY DASHBOARD*@
<div class="permanentsecretarydashboard @liCommissioner @liPA @liAccountantGeneral @liDeputyAccountantGeneral @liDeputyDirectorTreasury @liDirectorFunds">
    <div class="row col-12">
        <!-- START CONTAINER FLUID -->
        <div class="card-body clearfix" style="margin-bottom:-25px; margin-top:-30px;">
            <div class="row">
                <div class="alert alert-success full-width" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    <strong>Permanent Secretary's Office: </strong>@Model.pendingDocuments Files Pending.
                </div>
            </div>
        </div>
    </div>
    <!-- START GALLERY ITEM -->
    <div class="row col-12">
        <div class="gallery-item col-12" data-width="2" data-height="1">
            <a href=@Url.Action("Documents", "Documents")>
                <!-- START PREVIEW -->
                <img src="~/site/assets/img/custom/documents.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                    <div class="overlayer-wrapper item-info ">
                        <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                            <div class="">
                                <p class="pull-left bold text-white fs-14 p-t-10">Pending Files</p>
                                @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                                <div class="clearfix"></div>
                            </div>
                            <div class="m-t-10">
                                <div class="thumbnail-wrapper d32 circular m-t-5">
                                    <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
            </a>
        </div>
        <!-- END GALLERY ITEM -->
    </div>
</div>
@*ACCOUNTANT GENERAL DASHBOARD*@
<div class="accountantgeneraldashboard @liCommissioner @liPA @liPermanentSecretary @liDeputyAccountantGeneral @liDeputyDirectorTreasury @liDirectorFunds">
    <div class="row col-12">
        <!-- START CONTAINER FLUID -->
        <div class="card-body clearfix" style="margin-bottom:-25px; margin-top:-30px;">
            <div class="row">
                <div class="alert alert-success full-width" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    <strong>Accountant General's Office: </strong>@Model.pendingDocuments Files Pending.
                </div>
            </div>
        </div>
    </div>
    <!-- START GALLERY ITEM -->
    <div class="row col-12">
        <div class="gallery-item col-12" data-width="2" data-height="1">
            <a href=@Url.Action("Documents", "Documents")>
                <!-- START PREVIEW -->
                <img src="~/site/assets/img/custom/documents.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                    <div class="overlayer-wrapper item-info ">
                        <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                            <div class="">
                                <p class="pull-left bold text-white fs-14 p-t-10">Memos</p>
                                @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                                <div class="clearfix"></div>
                            </div>
                            <div class="m-t-10">
                                <div class="thumbnail-wrapper d32 circular m-t-5">
                                    <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
            </a>
        </div>
        <!-- END GALLERY ITEM -->
    </div>
</div>
@*DEPUTY ACCOUNTANT GENERAL'S DASHBOARD*@
<div class="deputyaccountantgeneraldashboard @liCommissioner @liPA @liPermanentSecretary @liAccountantGeneral @liDeputyDirectorTreasury @liDirectorFunds">
    <div class="row col-12">
        <!-- START CONTAINER FLUID -->
        <div class="card-body clearfix" style="margin-bottom:-25px; margin-top:-30px;">
            <div class="row">
                <div class="alert alert-success full-width" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    <strong>Deputy Accountant General's Office: </strong>@Model.pendingDocuments File(s) Pending.
                </div>
            </div>
        </div>
    </div>
    <!-- START GALLERY ITEM -->
    <div class="row col-12">
        <div class="gallery-item col-12" data-width="2" data-height="1">
            <a href=@Url.Action("Documents", "Documents")>
                <!-- START PREVIEW -->
                <img src="~/site/assets/img/custom/documents.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                    <div class="overlayer-wrapper item-info ">
                        <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                            <div class="">
                                <p class="pull-left bold text-white fs-14 p-t-10">Memos</p>
                                @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                                <div class="clearfix"></div>
                            </div>
                            <div class="m-t-10">
                                <div class="thumbnail-wrapper d32 circular m-t-5">
                                    <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
            </a>
        </div>
        <!-- END GALLERY ITEM -->
    </div>
</div>
@*DEPUTY DIRECTOR TREASTURY'S DASHBOARD*@
<div class="deputydirectortreasurydashboard @liCommissioner @liPA @liPermanentSecretary @liAccountantGeneral @liDeputyAccountantGeneral @liDirectorFunds">
    <div class="row col-12">
        <!-- START CONTAINER FLUID -->
        <div class="card-body clearfix" style="margin-bottom:-25px; margin-top:-30px;">
            <div class="row">
                <div class="alert alert-success full-width" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    <strong>Deputy Accountant General's Office: </strong>@Model.pendingDocuments Files Pending.
                </div>
            </div>
        </div>
    </div>
    <!-- START GALLERY ITEM -->
    <div class="row col-12">
        <div class="gallery-item col-12" data-width="2" data-height="1">
            <a href=@Url.Action("Documents", "Documents")>
                <!-- START PREVIEW -->
                <img src="~/site/assets/img/custom/documents.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                    <div class="overlayer-wrapper item-info ">
                        <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                            <div class="">
                                <p class="pull-left bold text-white fs-14 p-t-10">Memos</p>
                                @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                                <div class="clearfix"></div>
                            </div>
                            <div class="m-t-10">
                                <div class="thumbnail-wrapper d32 circular m-t-5">
                                    <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
            </a>
        </div>
        <!-- END GALLERY ITEM -->
    </div>
</div>
@*DIRECTOR FUNDS DASHBOARD*@
<div class="directorfundsdashboard @liCommissioner @liPA @liPermanentSecretary @liAccountantGeneral @liDeputyAccountantGeneral @liDeputyDirectorTreasury">
    <div class="row col-12">
        <!-- START CONTAINER FLUID -->
        <div class="card-body clearfix" style="margin-bottom:-25px; margin-top:-30px;">
            <div class="row">
                <div class="alert alert-success full-width" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    <strong>Director Fund's Office: </strong>@Model.pendingDocuments Files Pending.
                </div>
            </div>
        </div>
    </div>
    <!-- START GALLERY ITEM -->
    <div class="row col-12">
        <div class="gallery-item col-6" data-width="2" data-height="1">
            <a href=@Url.Action("Documents", "Documents")>
                <!-- START PREVIEW -->
                <img src="~/site/assets/img/custom/documents.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                    <div class="overlayer-wrapper item-info ">
                        <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                            <div class="">
                                <p class="pull-left bold text-white fs-14 p-t-10">Memos</p>
                                @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                                <div class="clearfix"></div>
                            </div>
                            <div class="m-t-10">
                                <div class="thumbnail-wrapper d32 circular m-t-5">
                                    <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- END PRODUCT OVERLAY DESCRIPTION -->
        </div>
        <!-- END GALLERY ITEM -->
        <!-- START GALLERY ITEM -->
        <div class="col-6">
            <div class="gallery-item" data-width="2" data-height="1">
                <!-- START PREVIEW -->
                <img src="~/site/assets/img/custom/completeddocument.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <a href=@Url.Action("Search", "Timeline")>
                    <div class="overlayer bottom-left full-width">
                        <div class="overlayer-wrapper item-info ">
                            <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                                <div class="">
                                    <p class="pull-left bold text-white fs-14 p-t-10">All Documents</p>
                                    @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                                    <div class="clearfix"></div>
                                </div>
                                <div class="m-t-10">
                                    <div class="thumbnail-wrapper d32 circular m-t-5">
                                        <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
            </div>
        </div>
    </div>
</div>