﻿@model dms.View_Model.BeneficiaryViewModel
@{
    ViewBag.Title = "ManageBeneficiaries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">
                    Manage Beneficiaries
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-default">
                            <div class="card-header ">
                                <div class="card-title" style="font-size:14px;">
                                    Add New Beneficiary
                                </div>
                            </div>
                            <div class="card-body">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @using (Html.BeginForm("ManageBeneficiaries", "Home", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data",
                                    role = "form",
                                    @id = "addUser",
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    <p style="font-weight:bold;">Enter a New User Record in the form below</p>
                                    @Html.HiddenFor(model => model.Id)
                                    <div class="form-group form-group-default required">
                                        <label>Beneficiary Name: </label>
                                        @Html.TextBoxFor(m => m.BeneficiaryName, new { @class = "form-control required", @placeholder = "Enter Beneficiary Name here" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Select Bank: </label>
                                        @Html.DropDownListFor(m => m.BeneficiaryBankId, new SelectList(Model.BeneficiaryBank, "Id", "BankName"), "", new { @class = "full-width", @id = "selBank", @data_placeholder = "Select Bank", @data_init_plugin = "select2", @required = "required" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Account Number: </label>
                                        @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control required", @placeholder = "Enter Account Number here" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>TIN Number: </label>
                                        @Html.TextBoxFor(m => m.TinNo, new { @class = "form-control required", @placeholder = "Enter TIN Number here" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Email Address: </label>
                                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control required", @placeholder = "Enter Email here" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Phone Number: </label>
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control required", @placeholder = "Enter Phone Number here" })
                                    </div>
                                    <button type="submit" class="btn btn-success stepy-finish">Save <i class="icon-check position-right"></i></button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card card-default">
                            <div class="card-header ">
                                <div class="card-title" style="font-size:14px;">
                                    List of Beneficiaries
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-hover table-responsive-block" id="beneficiaryTable" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Full Name</th>
                                            <th>Bank</th>
                                            <th>Account Number</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int sno = 0;}
                                        @{  foreach (var allBeneficiaries in Model.BeneficiaryList)
                                            {
                                                <tr>
                                                    <td>
                                                        @{ sno++; }
                                                        @sno
                                                    </td>
                                                    <td>@allBeneficiaries.BeneficiaryName</td>
                                                    <td>@allBeneficiaries.BeneficiaryBank.BankName</td>
                                                    <td>@allBeneficiaries.AccountNumber</td>
                                                    <td>@allBeneficiaries.EmailAddress</td>
                                                    <td>@allBeneficiaries.PhoneNumber</td>
                                                    <td class="text-center">
                                                        <div class="dropdown dropdown-default">
                                                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Click for Action
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="@Url.Action("ManageBeneficiaries", "Home", new { Id = allBeneficiaries.Id})">Edit Record</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                             }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#beneficiaryTable').DataTable()
    });

</script>