﻿@model dms.View_Model.ManageUserViewModel
@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">
                    Manage User List
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-default">
                            <div class="card-header ">
                                <div class="card-title" style="font-size:14px;">
                                    Add New User
                                </div>
                            </div>
                            <div class="card-body">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @using (Html.BeginForm("ManageUser", "Home", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data",
                                    role = "form",
                                    @id = "addUser",
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    <p style="font-weight:bold;">Enter a New User Record in the form below</p>
                                    @Html.HiddenFor(model => model.UserID)
                                    <div class="form-group form-group-default required">
                                        <label>First Name: </label>
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control required", @placeholder = "Enter First Name here", @id = "fname" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Last Name: </label>
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control required", @placeholder = "Enter Last Name here", @id = "lname" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Email Address: </label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control required", @placeholder = "Enter Email here", @id = "email" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Password: </label>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control required", @placeholder = "Enter Password here", @onkeyup = "validatePasswordForSpecialCharacers();", @id = "password"})
                                        <div>
                                            <input type="checkbox" id="showPass" l="Show Password" />
                                            <label for="showPass">Show Password</label>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "label label-warning lb-sm", @id = "password-complexity-field", @style = "display:none;" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Select User Group: </label>
                                        @Html.DropDownListFor(m => m.GroupId, new SelectList(Model.UserGroup, "Id", "GroupName"), "", new { @class = "full-width", @id = "selGroup", @data_placeholder = "Select User Group", @data_init_plugin = "select2", @required = "required" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Select User Type: </label>
                                        @Html.EnumDropDownListFor(m => m.UserType, new { @class = "full-width", @id = "selUserType", @data_placeholder = "Select User Type", @data_init_plugin = "select2", @required = "required"})
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label class="display-block">User Picture:</label>
                                        @Html.TextBoxFor(m => m.PassportUpload, new { type = "file", @class = "file-styled", @onchange = "checkFileSize(this)" })
                                        <span class="help-block">Accepted formats: jpg, png. Max file size 2Mb</span>
                                    </div>
                                    <button type="submit" class="btn btn-success stepy-finish">Save <i class="icon-check position-right"></i></button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card card-default">
                            <div class="card-header ">
                                <div class="card-title" style="font-size:14px;">
                                    List Users
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive" id="userTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Full Name</th>
                                            <th>Email</th>
                                            <th>Group</th>
                                            <th>User Type</th>
                                            <th>Status</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int sno = 0;}
                                        @{  foreach (var allUsers in Model.Users)
                                            {
                                                <tr>
                                                    <td>
                                                        @{ sno++; }
                                                        @sno
                                                    </td>
                                                    <td>@allUsers.FirstName @allUsers.LastName</td>
                                                    <td>@allUsers.Email</td>
                                                    <td>@allUsers.UserGroup.GroupName</td>
                                                    @{
                                                        if (allUsers.UserType == dms.Models.UserType.Administrator)
                                                        {
                                                            <td><span class="label label-info">Administrator</span></td>
                                                        }
                                                        else if (allUsers.UserType == dms.Models.UserType.Superior)
                                                        {
                                                            <td><span class="label label-info">Superior</span></td>
                                                        }
                                                        else if (allUsers.UserType == dms.Models.UserType.Staff)
                                                        {
                                                            <td><span class="label label-info">Staff</span></td>
                                                        }
                                                    }
                                                    @{
                                                        if (allUsers.Status == dms.Models.AccountStatus.Activate)
                                                        {
                                                            <td><span class="label label-success">Active</span></td>
                                                        }
                                                        if (allUsers.Status == dms.Models.AccountStatus.Deactivate)
                                                        {
                                                            <td><span class="label label-danger">Not Active</span></td>
                                                        }
                                                    }
                                                    <td class="text-center">
                                                        <ul class="icons-list">
                                                            <li class="dropdown">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                                    <i class="icon-menu9"></i>
                                                                </a>
                                                                <ul class="dropdown-menu dropdown-menu-right">
                                                                    <li><a href="@Url.Action("UserDetails", "Home", new { UserID = allUsers.Id})"><i class="icon-profile"></i> View Details</a></li>
                                                                    <li><a href="@Url.Action("ManageUser", "Home", new { UserID = allUsers.Id})"><i class="icon-database-edit2"></i> Edit User</a></li>
                                                                    @if (allUsers.Status != dms.Models.AccountStatus.Activate)
                                                                    {
                                                                        <li><a href="@Url.Action("ActivateUser", "Home", new { UserID = allUsers.Id})"><i class="icon-check2"></i> Activate</a></li>
                                                                    }
                                                                    @if (allUsers.Status == dms.Models.AccountStatus.Activate)
                                                                    {
                                                                        <li><a href="@Url.Action("DeactivateUser", "Home", new { UserID = allUsers.Id})"><i class="icon-user-cancel"></i> Deactivate</a></li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </td>

                                                </tr>
                                               }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function checkFileSize(e) {
        var fileSize = e.files[0].size / 1024 / 1024;
        if (fileSize > 2) {
            alert("File size must be less than 2MB in size.");
            e.value = "";
            e.focus;
        }
    }

    function validatePasswordForSpecialCharacers() {
        var password = document.getElementById('password');
        var regex = /[^\w\s]/gi;

        if (regex.test(password.value) != true) {
            //Show label with warning message
            $('#password-complexity-field').show();
            document.getElementById('password-complexity-field').innerHTML = "Password fields must contain a Capital Latter,Number and a special character";
            //alert("Password field must contain special characters");
            //password.focus();
        }
        else {
            //Hide label if valid
            $('#password-complexity-field').hide();
        }
    }
</script>
<script>
    $(function () {
        $("#showPass").change(function () {
            var checked = $(this).is(":checked");
            if (checked) {
                $("#password").attr("type", "text");
            } else {
                $("#password").attr("type", "password");
            }
        });

    });
</script>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#userTable').DataTable()
    });
</script>