﻿@model dms.View_Model.DashboardViewModel
@{
    ViewBag.Title = "ManageUserGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">
                    User Groups
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-default">
                            <div class="card-header ">
                                <div class="card-title" style="font-size:14px;">
                                    Add New User Group
                                </div>
                            </div>
                            <div class="card-body">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @using (Html.BeginForm("ManageUserGroup", "Home", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data",
                                    role = "form",
                                    @id = "addUser",
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    <p style="font-weight:bold;">Enter a New User Record in the form below</p>
                                    @Html.HiddenFor(model => model.Id)
                                    <div class="form-group form-group-default required">
                                        <label>Group Name: </label>
                                        @Html.TextBoxFor(m => m.UserGroupName, new { @class = "form-control required", @placeholder = "Enter Group Name here" })
                                    </div>
                                    <button type="submit" class="btn btn-success stepy-finish">Save <i class="icon-check position-right"></i></button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card card-default">
                            <div class="card-header ">
                                <div class="card-title" style="font-size:14px;">
                                    List of User Groups
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-hover table-responsive-block" id="UserGroupTable" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Group Name</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int sno = 0;}
                                        @{  foreach (var allgroup in Model.UserGroupList)
                                            {
                                                <tr>
                                                    <td>
                                                        @{ sno++; }
                                                        @sno
                                                    </td>
                                                    <td>@allgroup.GroupName</td>
                                                    <td class="text-center">
                                                        <div class="dropdown dropdown-default">
                                                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Click for Action
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="@Url.Action("ManageUserGroup", "Home", new { Id = allgroup.Id})">Edit Record</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#UserGroupTable').DataTable()
    });
</script>