﻿@model dms.View_Model.BankViewModel
@{
    ViewBag.Title = "ManageBank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">
                    Manage Banks
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-default">
                            <div class="card-header ">
                                <div class="card-title" style="font-size:14px;">
                                    Add New Bank
                                </div>
                            </div>
                            <div class="card-body">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @using (Html.BeginForm("ManageBank", "Home", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data",
                                    role = "form",
                                    @id = "addUser",
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    <p style="font-weight:bold;">Enter a New User Record in the form below</p>
                                    @Html.HiddenFor(model => model.Id)
                                    <div class="form-group form-group-default required">
                                        <label>Bank Name: </label>
                                        @Html.TextBoxFor(m => m.BankName, new { @class = "form-control required", @placeholder = "Enter Bank Name here" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Bank Branch: </label>
                                        @Html.DropDownListFor(m => m.BankBranchId, new SelectList(Model.BankBranch, "Id", "StateName"), "", new { @class = "full-width", @id = "selBank", @data_placeholder = "Select Bank Branch", @data_init_plugin = "select2", @required = "required" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Address: </label>
                                        @Html.TextBoxFor(m => m.BankAddress, new { @class = "form-control required", @placeholder = "Enter Address here" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Sort Code: </label>
                                        @Html.TextBoxFor(m => m.SortCode, new { @class = "form-control required", @placeholder = "Enter Sort Code here" })
                                    </div>
                                    <button type="submit" class="btn btn-success stepy-finish">Save <i class="icon-check position-right"></i></button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card card-default">
                            <div class="card-header ">
                                <div class="card-title" style="font-size:14px;">
                                    List of Banks
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-hover table-responsive-block" id="beneficiaryTable" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Bank Name</th>
                                            <th>Bank Branch</th>
                                            <th>Address</th>
                                            <th>Sort Code</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int sno = 0;}
                                        @{  foreach (var allBanks in Model.BankList)
                                            {
                                                <tr>
                                                    <td>
                                                        @{ sno++; }
                                                        @sno
                                                    </td>
                                                    <td>@allBanks.BankName</td>
                                                    <td>@allBanks.BankBranch.StateName</td>
                                                    <td>@allBanks.BankAddress</td>
                                                    <td>@allBanks.SortCode</td>
                                                    <td class="text-center">
                                                        <div class="dropdown dropdown-default">
                                                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Click for Action
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="@Url.Action("ManageBank", "Home", new { Id = allBanks.Id})">Edit Record</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#beneficiaryTable').DataTable()
    });
</script>