﻿@model dms.View_Model.StateAccountViewModel
@{
    ViewBag.Title = "ManageStateAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">
                    State Accounts
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-default">
                            <div class="card-header ">
                                <div class="card-title" style="font-size:14px;">
                                    Add New State Account
                                </div>
                            </div>
                            <div class="card-body">
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @using (Html.BeginForm("ManageStateAccounts", "Home", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data",
                                    role = "form",
                                    @id = "addUser",
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    <p style="font-weight:bold;">Enter a New User Record in the form below</p>
                                    @Html.HiddenFor(model => model.Id)
                                    <div class="form-group form-group-default required">
                                        <label>Account Name: </label>
                                        @Html.TextBoxFor(m => m.AccountCategory, new { @class = "form-control required", @placeholder = "Enter Account Category" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Bank Name: </label>
                                        @Html.DropDownListFor(m => m.BankId, new SelectList(Model.Bank, "Id", "BankName"), "", new { @class = "full-width", @id = "selBank", @data_placeholder = "Select Bank", @data_init_plugin = "select2", @required = "required" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Account Number: </label>
                                        @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control required", @placeholder = "Enter Account Number" })
                                    </div>
                                    <button type="submit" class="btn btn-success stepy-finish">Save <i class="icon-check position-right"></i></button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card card-default">
                            <div class="card-header ">
                                <div class="card-title" style="font-size:14px;">
                                    List of State Accounts
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-hover table-responsive-block" id="beneficiaryTable" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Account Name</th>
                                            <th>Bank</th>
                                            <th>Bank Branch</th>
                                            <th>Account Number</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int sno = 0;}
                                        @{  foreach (var allAccount in Model.AccountList)
                                            {
                                                <tr>
                                                    <td>
                                                        @{ sno++; }
                                                        @sno
                                                    </td>
                                                    <td>@allAccount.AccountCategory</td>
                                                    <td>@allAccount.Bank.BankName</td>
                                                    @foreach (var state in Model.States)
                                                    {
                                                        if (state.Id == allAccount.Bank.BankBranchId)
                                                        {
                                                            <td>@state.StateName</td>
                                                        }
                                                    }
                                                    <td>@allAccount.AccountNumber</td>
                                                    <td class="text-center">
                                                        <div class="dropdown dropdown-default">
                                                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Click for Action
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="@Url.Action("ManageStateAccounts", "Home", new { Id = allAccount.Id})">Edit Record</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                             }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#beneficiaryTable').DataTable()
    });
</script>