﻿@model dms.View_Model.DashboardViewModel
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="card card-default">
            <div class="card-header ">
                <div class="card-title">
                    User Details
                </div>
            </div>
            <div class="card-body">
                <div class="card card-default">
                    <div class="card-header ">
                        <div class="card-title">
                            User Photo
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <div style="text-align: center; vertical-align: middle;">
                                @{
                                    var userImage = Model.UserDetails.PhotoUrl;
                                }
                                @{
                                    if (userImage != null)
                                    {
                                        <div style="padding-bottom:10px;"><img src="@userImage" class="img-rounded fancybox" width="200" height="200" target="_blank" /></div>
                                    }
                                    else if (userImage == null)
                                    {
                                        <div style="padding-bottom:10px;"><img src="~/img/face.jpg" class="img-rounded fancybox" width="200" height="200" /></div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header ">
                        <div class="card-title">
                            BIO Data
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <dl class="dl-horizontal">
                                <dt style="text-align:left;">Last Name:</dt>
                                <dd>@Html.DisplayFor(model => model.UserDetails.LastName)</dd>
                                <dt style="text-align:left;">First Name:</dt>
                                <dd>@Html.DisplayFor(model => model.UserDetails.FirstName)</dd>
                                <dt style="text-align:left;">E-Mail:</dt>
                                <dd>@Html.DisplayFor(model => model.UserDetails.Email)</dd>
                                <dt style="text-align:left;">Phone No.:</dt>
                                <dd>@Html.DisplayFor(model => model.UserDetails.PhoneNumber)</dd>
                                <dt style="text-align:left;">User Group:</dt>
                                <dd>@Html.DisplayFor(model => model.UserDetails.UserGroup.GroupName)</dd>
                                <dt style="text-align:left;">Status:</dt>
                                @if (Model.UserDetails.Status == dms.Models.AccountStatus.Activate)
                                {
                                    <dd><span class="label label-success">Account Active</span></dd>
                                }
                                else if (Model.UserDetails.Status == dms.Models.AccountStatus.Deactivate)
                                {
                                    <dd><span class="label label-danger">Account not Active</span></dd>
                                }
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>