﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Sokoto State Government - Document Managment System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/site/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/site/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/site/pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="~/site/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="~/site/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="~/site/assets/plugins//bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/site/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/site/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/site/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/site/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/site/assets/plugins/nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/site/assets/plugins/mapplic/css/mapplic.css" rel="stylesheet" type="text/css" />
    <link href="~/site/assets/plugins/rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css" />
    <link href="~/site/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="~/site/pages/css/themes/corporate.css" rel="stylesheet" type="text/css" />
</head>
<body class="fixed-header dashboard menu-pin menu-behind">
    @RenderBody()

    @*<environment include="Development">
            <script src="~/Identity/lib/jquery/dist/jquery.js"></script>
            <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        </environment>*@
    <!-- BEGIN VENDOR JS -->
    <script src="~/site/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="~/site/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="~/site/assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/site/assets/plugins/classie/classie.js"></script>
    <script src="~/site/assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/nvd3/lib/d3.v3.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/nvd3/nv.d3.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/nvd3/src/utils.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/nvd3/src/tooltip.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/nvd3/src/interactiveLayer.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/nvd3/src/models/axis.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/nvd3/src/models/line.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/mapplic/js/hammer.min.js"></script>
    <script src="~/site/assets/plugins/mapplic/js/jquery.mousewheel.js"></script>
    <script src="~/site/assets/plugins/mapplic/js/mapplic.js"></script>
    <script src="~/site/assets/plugins/rickshaw/rickshaw.min.js"></script>
    <script src="~/site/assets/plugins/jquery-sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/skycons/skycons.js" type="text/javascript"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="~/site/pages/js/pages.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="~/site/assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="~/site/assets/js/dashboard.js" type="text/javascript"></script>
    <script src="~/site/assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
