﻿@model dms.View_Model.BaseDashboardViewModel
<!DOCTYPE html>
@{
    var liCommissioner = Model.role.Single().Value.ToString() == "Commissioner" ? "hide" : "";
    var liPA = Model.role.Single().Value.ToString() == "PA" ? "hide" : "";
    var liPermanentSecretary = Model.role.Single().Value.ToString() == "Permanent Secretary" ? "hide" : "";
    var liAccountantGeneral = Model.role.Single().Value.ToString() == "Accountant General" ? "hide" : "";
    var liDeputyAccountantGeneral = Model.role.Single().Value.ToString() == "Deputy Accountant General" ? "hide" : "";
    var liDeputyDirectorTreasury = Model.role.Single().Value.ToString() == "Deputy Director Treasury" ? "hide" : "";
    var liDirectorFunds = Model.role.Single().Value.ToString() == "Director Funds" ? "hide" : "";
}
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Sokoto State Government - Document Managment System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/site/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/site/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/site/pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="~/site/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="~/site/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/site/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/site/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/site/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/site/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/site/assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/site/assets/plugins/bootstrap-tag/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
    <link href="~/site/assets/plugins/dropzone/css/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="~/site/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/site/assets/plugins/summernote/css/summernote.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/site/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/site/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/site/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <!--DATATABLE-->
    @*<link type="text/css" rel="stylesheet" href="~/Content/assets/plugins/jquery-datatable/media/css/jquery.dataTables.css">*@
    <link href="~/site/assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="~/site/assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css">
    <link media="screen" type="text/css" rel="stylesheet" href="~/site/assets/plugins/datatables-responsive/css/datatables.responsive.css">
    <!---->
    <link class="main-stylesheet" href="~/site/pages/css/themes/corporate.css" rel="stylesheet" type="text/css" />
</head>
<body class="fixed-header dashboard menu-pin menu-behind">
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" href="~/">Document Management System</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        @{
                            var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                        }
                        @if (result.Success)
                        {
                            await Html.RenderPartialAsync("_LoginPartial");
                        }
                        else
                        {
                            throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                                "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                                $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                        }
                    </div>
                </div>
            </nav>
        </header>*@
    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar">
        <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
        <div class="sidebar-overlay-slide from-top" id="appMenu">
            <div class="row">
                <div class="col-xs-6 no-padding">
                    <a href="#" class="p-l-40">
                        <img src="~/site/assets/img/demo/social_app.svg" alt="socail">
                    </a>
                </div>
                <div class="col-xs-6 no-padding">
                    <a href="#" class="p-l-10">
                        <img src="~/site/assets/img/demo/email_app.svg" alt="socail">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 m-t-20 no-padding">
                    <a href="#" class="p-l-40">
                        <img src="~/site/assets/img/demo/calendar_app.svg" alt="socail">
                    </a>
                </div>
                <div class="col-xs-6 m-t-20 no-padding">
                    <a href="#" class="p-l-10">
                        <img src="~/site/assets/img/demo/add_more.svg" alt="socail">
                    </a>
                </div>
            </div>
        </div>
        <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
        <!-- BEGIN SIDEBAR MENU HEADER-->
        <div class="sidebar-header">
            <img src="~/site/assets/img/logo_white.png" alt="logo" class="brand" data-src="~/site/assets/img/logo_white.png" data-src-retina="/site/pages/img/logo_white_2x.png" width="78" height="22">
            <div class="sidebar-header-controls">
                <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu">
                    <i class="fa fa-angle-down fs-16"></i>
                </button>
                <button type="button" class="btn btn-link d-lg-inline-block d-xlg-inline-block d-md-inline-block d-sm-none d-none" data-toggle-pin="sidebar">
                    <i class="fa fs-12"></i>
                </button>
            </div>
        </div>
        <!-- END SIDEBAR MENU HEADER-->
        <!-- START SIDEBAR MENU -->
        <div class="sidebar-menu">
            <!-- BEGIN SIDEBAR MENU ITEMS-->
            <ul class="menu-items">
                <li class="m-t-30 ">
                    <a href="@Url.Action("Index","Home")" class="detailed">
                        <span class="title">Dashboard</span>
                        @*<span class="details">Home Page</span>*@
                    </a>
                    <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="title">Documents</span>
                        <span class="arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-calender"></i></span>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="@Url.Action("UploadDocuments","Documents")">
                                New Document
                            </a>
                            <span class="icon-thumbnail"><i class="pg-layouts"></i></span>
                        </li>
                        <li class="">
                            <a href="@Url.Action("Documents","Documents")">
                                All Documents
                            </a>
                            <span class="icon-thumbnail"><i class="pg-layouts"></i></span>
                        </li>
                        @*<li class="">
                            <a href="#">Pending</a>
                            <span class="icon-thumbnail">P</span>
                        </li>
                        <li class="">
                            <a href="#">Completed</a>
                            <span class="icon-thumbnail">C</span>
                        </li>*@
                    </ul>
                </li>
                <li class="@liPA @liPermanentSecretary">
                    <a href="javascript:;">
                        <span class="title">Vouchers</span>
                        <span class="arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-form"></i></span>
                    <ul class="sub-menu">
                        <li class="@liAccountantGeneral @liDeputyAccountantGeneral @liDeputyDirectorTreasury">
                            <a href="@Url.Action("NewVoucher","Voucher")">Create Voucher</a>
                            <span class="icon-thumbnail">CV</span>
                        </li>
                        <li class="">
                            <a href="@Url.Action("VoucherList","Voucher")">All Vouchers</a>
                            <span class="icon-thumbnail">AV</span>
                        </li>
                        <li class="@liAccountantGeneral @liDeputyAccountantGeneral @liDeputyDirectorTreasury">
                            <a href="@Url.Action("PendingVouchers","Voucher")">Pending Vouchers</a>
                            <span class="icon-thumbnail">PV</span>
                        </li>
                        <li class="">
                            <a href="@Url.Action("PaidVouchers","Voucher")">Paid Vouchers</a>
                            <span class="icon-thumbnail">PV</span>
                        </li>
                        <li class="">
                            <a href="@Url.Action("DiscardedVouchers","Voucher")">Discarded Vouchers</a>
                            <span class="icon-thumbnail">DV</span>
                        </li>
                    </ul>
                </li>
                <li @liPA @liPermanentSecretary>
                    <a href="javascript:;">
                        <span class="title">Mandates</span>
                        <span class="arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-form"></i></span>
                    <ul class="sub-menu">
                        <li class="@liAccountantGeneral @liDeputyAccountantGeneral @liDeputyDirectorTreasury">
                            <a href="@Url.Action("GenerateMandate","Voucher")">Generate Mandate</a>
                            <span class="icon-thumbnail">GM</span>
                        </li>
                        <li class="@liAccountantGeneral @liDeputyAccountantGeneral @liDeputyDirectorTreasury">
                            <a href="@Url.Action("VouchersAwaitingPayment","Voucher")">Mandates Awaiting Payments</a>
                            <span class="icon-thumbnail">MP</span>
                        </li>
                        <li class="">
                            <a href="@Url.Action("PaidMandates","Voucher")">Paid Mandates</a>
                            <span class="icon-thumbnail">PM</span>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href=@Url.Action("Search","Timeline")>
                        <span class="title">Timelines</span>
                    </a>
                    <span class="icon-thumbnail">T</span>
                </li>
                <li class="@liPA @liPermanentSecretary @liCommissioner @liAccountantGeneral @liDeputyAccountantGeneral @liDeputyDirectorTreasury">
                    <a href="javascript:;">
                        <span class="title">Settings</span>
                        <span class="arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-settings_small"></i></span>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="@Url.Action("ManageBank","Home")">Banks</a>
                            <span class="icon-thumbnail">BA</span>
                        </li>
                        <li class="">
                            <a href="@Url.Action("ManageBeneficiaries","Home")">Beneficiaries</a>
                            <span class="icon-thumbnail">BE</span>
                        </li>
                        <li class="">
                            <a href="@Url.Action("ManageStateAccounts","Home")">State Accounts</a>
                            <span class="icon-thumbnail">SA</span>
                        </li>
                        <li class="">
                            <a href="@Url.Action("ManageUser","Home")">Users</a>
                            <span class="icon-thumbnail">US</span>
                        </li>
                        <li class="">
                            <a href="@Url.Action("ManageUserGroup","Home")">User Groups</a>
                            <span class="icon-thumbnail">UG</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->
    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
        <!-- START HEADER -->
        <div class="header ">
            <!-- START MOBILE SIDEBAR TOGGLE -->
            <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-menu" data-toggle="sidebar">
            </a>
            <!-- END MOBILE SIDEBAR TOGGLE -->
            <div class="">
                <div class="brand inline   m-l-10">
                    <img src="~/site/assets/img/custom/logo.png" alt="logo" data-src="~/site/assets/img/custom/logo.png" data-src-retina="/site/assets/img/custom/logo.png" width="220" height="42">
                </div>
            </div>
            <div class="d-flex align-items-center">
                <!-- START User Info-->
                <div class="pull-left p-r-10 fs-14 font-heading d-lg-block d-none">
                    <span class="semi-bold">@Model.user.FirstName @Model.user.LastName</span>
                </div>
                <div class="dropdown pull-right d-lg-block d-none">
                    <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="thumbnail-wrapper d32 circular inline">
                            @{
                                string userImage = Model.user.PhotoUrl;
                                if (userImage != null)
                                {
                                    <img src="@userImage" alt="" width="32" height="32">
                                }
                                else if (userImage == null)
                                {
                                    <img src="~/img/face.jpg" alt="" width="32" height="32">
                                }
                            }
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                        <a href="#" class="dropdown-item"><i class="pg-layouts3"></i> My Profile</a>
                        <a href="@Url.Action("ChangePassword", "Manage")" class="dropdown-item"><i class="pg-settings_small"></i> Change Password</a>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="clearfix bg-master-lighter dropdown-item">
                                    <span class="pull-left">Logout</span>
                                    <span class="pull-right"><i class="pg-power"></i></span>
                                </a>
                            }
                        }

                    </div>
                </div>
                <!-- END User Info-->
            </div>
        </div>
        <!-- END HEADER -->
        <partial name="_CookieConsentPartial" optional />
        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper ">
            <!-- START PAGE CONTENT -->
            <div class="content sm-gutter">
                <!-- START CONTAINER FLUID -->
                <div class="container-fluid padding-25 sm-padding-10">
                    <div class="row full-width">
                        @RenderBody()
                    </div>
                </div>
                <!-- END CONTAINER FLUID -->
            </div>
            <!-- END PAGE CONTENT -->
            <!-- START COPYRIGHT -->
            <!-- START CONTAINER FLUID -->
            <!-- START CONTAINER FLUID -->
            <div class=" container-fluid container-fixed-lg footer">
                <div class="copyright sm-text-center">
                    <p class="small no-margin pull-left sm-pull-reset">
                        <span class="hint-text">Copyright &copy; 2019 </span>
                        <span class="font-montserrat">Sokoto State Government</span>.
                    </p>
                    <p class="small no-margin pull-right sm-pull-reset">
                        Powered by <span class="hint-text"> NextGen Integrated Systems</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- END COPYRIGHT -->
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <script src="~/site/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="~/site/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="~/site/assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/site/assets/plugins/classie/classie.js"></script>
    <script src="~/site/assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    @*<script src="~/site/assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>*@
    <script type="text/javascript" src="~/site/assets/plugins/jquery-autonumeric/autoNumeric.js"></script>
    <script type="text/javascript" src="~/site/assets/plugins/dropzone/dropzone.min.js"></script>
    <script type="text/javascript" src="~/site/assets/plugins/bootstrap-tag/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="~/site/assets/plugins/jquery-inputmask/jquery.inputmask.min.js"></script>
    <!--DATATABLE-->
    <script src="~/site/assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/site/assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="~/site/assets/plugins/datatables-responsive/js/lodash.min.js"></script>

    <script src="~/site/assets/plugins/bootstrap-form-wizard/js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/summernote/js/summernote.min.js" type="text/javascript"></script>
    <script src="~/site/assets/plugins/moment/moment.min.js"></script>
    <script src="~/site/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/site/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/site/assets/plugins/bootstrap-typehead/typeahead.bundle.min.js"></script>
    <script src="~/site/assets/plugins/bootstrap-typehead/typeahead.jquery.min.js"></script>
    <script src="~/site/assets/plugins/handlebars/handlebars-v4.0.5.js"></script>
    <script src="~/site/assets/js/form_elements.js" type="text/javascript"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="~/site/pages/js/pages.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="~/site/assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    
    <script src="~/site/assets/js/scripts.js" type="text/javascript"></script>
</body>
</html>
