﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.hide {
    display: none;
    visibility: hidden;
}

#flavorOverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

#flavorLightbox {
    display: none;
}

    #flavorLightbox > img {
        max-width: 90%;
        max-height: 90%;
        position: fixed;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

#flavorLightboxClose {
    font-size: 32px;
    cursor: pointer;
    color: #fff;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 666;
}