﻿
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid sm-p-l-5 bg-master-lighter ">
    <div class="row col-8">
        <img src="~/site/assets/img/custom/custom-letter.jpg" height="850" width="500" />
    </div>
</div>
