﻿@model dms.View_Model.TimelineViewModel
@using System.Web
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- START card -->
<div class="card card-default">
    <div class="card-header ">
        <div class="card-title">
            File Timeline
        </div>
    </div>
</div>

<!-- END card -->
<div class="container-fluid sm-p-l-5 bg-master-lighter ">
    <div class="timeline-container top-circle">
        <section class="timeline">
            <div class="gallery">
                @foreach (var file in Model.fileWorkflow)
                {
                    <div class="timeline-block">
                        <div class="timeline-point success">
                            <i class="pg-map"></i>
                        </div>
                        <!-- timeline-point -->
                        <div class="timeline-content">
                            <div class="card  social-card share full-width">
                                <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                                </div>
                                <div class="card-header clearfix">
                                    <div class="user-pic">
                                        <img alt="Profile Image" width="33" height="33" data-src-retina="/site/assets/img/custom/2000px-Coat_of_arms_of_Nigeria.svg.png" data-src="/site/assets/img/custom/2000px-Coat_of_arms_of_Nigeria.svg.png" src="~/site/assets/img/custom/2000px-Coat_of_arms_of_Nigeria.svg.png">
                                    </div>
                                    <h5>@file.OriginatingOffice</h5>
                                    <h6>
                                        @file.ForwardedFrom.FirstName @file.ForwardedFrom.LastName
                                        <span class="location semi-bold"><i class="fa fa-map-marker"></i> @file.ActionTaken</span>
                                    </h6>
                                </div>
                                <div class="card-description">
                                    <p>Reference Number: @file.File.ReferenceNumber</p>
                                    <div class="via">Scanned Page</div>
                                </div>
                                <div class="card-content">
                                    <ul class="buttons ">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    @if (Path.GetExtension(Model.filePath) == ".pdf" || Path.GetExtension(Model.filePath) == ".PDF")
                                    {
                                        <iframe width="450" height="300" id="iframepdf" src=@HttpUtility.UrlPathEncode(Model.filePath)></iframe>
                                    }
                                    else
                                    {
                                        <div class="gallery__item" data-flavor-src="@Model.filePath">
                                            <img alt="Social post" src=@HttpUtility.UrlPathEncode(Model.filePath)>
                                        </div>
                                    }
                                </div>
                                <div class="card-footer clearfix">
                                    @{
                                        //Show 'day' or 'days' depending on how many days have passed since the request was processed
                                        TimeSpan t = DateTime.Now.Subtract(file.DateForwarded);
                                        int timePassed = @Convert.ToInt32(t.TotalDays);
                                        <div class="time">@Convert.ToInt32(t.TotalDays) day(s) ago</div>
                                    }
                                </div>
                            </div>
                            <div class="event-date">
                                <h6 class="font-montserrat all-caps hint-text m-t-0">@file.OriginatingOffice</h6>
                                <small class="fs-12 hint-text">@file.DateForwarded.ToString("dddd, dd MMMM yyyy HH:mm:ss")</small>
                            </div>
                        </div>
                        <!-- timeline-content -->
                    </div>
                }
            </div>
        </section>
        <!-- timeline -->
    </div>
    <!-- -->
</div>
<!-- END CONTAINER FLUID -->
<!-- END PAGE CONTENT -->
<!-- START COPYRIGHT -->
<!-- START CONTAINER FLUID -->
<!-- END PAGE CONTENT WRAPPER -->
<!-- END PAGE CONTAINER -->
<!--START QUICKVIEW -->
<div id="quickview" class="quickview-wrapper" data-pages="quickview">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="">
            <a href="#quickview-notes" data-target="#quickview-notes" data-toggle="tab" role="tab">Notes</a>
        </li>
        <li>
            <a href="#quickview-alerts" data-target="#quickview-alerts" data-toggle="tab" role="tab">Alerts</a>
        </li>
        <li class="">
            <a class="active" href="#quickview-chat" data-toggle="tab" role="tab">Chat</a>
        </li>
    </ul>
    <a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview"><i class="pg-close"></i></a>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- BEGIN Notes !-->
        <div class="tab-pane no-padding" id="quickview-notes">
            <div class="view-port clearfix quickview-notes" id="note-views">
                <!-- BEGIN Note List !-->
                <div class="view list" id="quick-note-list">
                    <div class="toolbar clearfix">
                        <ul class="pull-right ">
                            <li>
                                <a href="#" class="delete-note-link"><i class="fa fa-trash-o"></i></a>
                            </li>
                            <li>
                                <a href="#" class="new-note-link" data-navigate="view" data-view-port="#note-views" data-view-animation="push"><i class="fa fa-plus"></i></a>
                            </li>
                        </ul>
                        <button class="btn-remove-notes btn btn-xs btn-block hide"><i class="fa fa-times"></i> Delete</button>
                    </div>
                    <ul>
                        <!-- BEGIN Note Item !-->
                        <li data-noteid="1">
                            <div class="left">
                                <!-- BEGIN Note Action !-->
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox1" type="checkbox" value="1">
                                    <label for="qncheckbox1"></label>
                                </div>
                                <!-- END Note Action !-->
                                <!-- BEGIN Note Preview Text !-->
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                <!-- BEGIN Note Preview Text !-->
                            </div>
                            <!-- BEGIN Note Details !-->
                            <div class="right pull-right">
                                <!-- BEGIN Note Date !-->
                                <span class="date">12/12/14</span>
                                <a href="#" data-navigate="view" data-view-port="#note-views" data-view-animation="push"><i class="fa fa-chevron-right"></i></a>
                                <!-- END Note Date !-->
                            </div>
                            <!-- END Note Details !-->
                        </li>
                        <!-- END Note List !-->
                        <!-- BEGIN Note Item !-->
                        <li data-noteid="2">
                            <div class="left">
                                <!-- BEGIN Note Action !-->
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox2" type="checkbox" value="1">
                                    <label for="qncheckbox2"></label>
                                </div>
                                <!-- END Note Action !-->
                                <!-- BEGIN Note Preview Text !-->
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                <!-- BEGIN Note Preview Text !-->
                            </div>
                            <!-- BEGIN Note Details !-->
                            <div class="right pull-right">
                                <!-- BEGIN Note Date !-->
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                <!-- END Note Date !-->
                            </div>
                            <!-- END Note Details !-->
                        </li>
                        <!-- END Note List !-->
                        <!-- BEGIN Note Item !-->
                        <li data-noteid="2">
                            <div class="left">
                                <!-- BEGIN Note Action !-->
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox3" type="checkbox" value="1">
                                    <label for="qncheckbox3"></label>
                                </div>
                                <!-- END Note Action !-->
                                <!-- BEGIN Note Preview Text !-->
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                <!-- BEGIN Note Preview Text !-->
                            </div>
                            <!-- BEGIN Note Details !-->
                            <div class="right pull-right">
                                <!-- BEGIN Note Date !-->
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                <!-- END Note Date !-->
                            </div>
                            <!-- END Note Details !-->
                        </li>
                        <!-- END Note List !-->
                        <!-- BEGIN Note Item !-->
                        <li data-noteid="3">
                            <div class="left">
                                <!-- BEGIN Note Action !-->
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox4" type="checkbox" value="1">
                                    <label for="qncheckbox4"></label>
                                </div>
                                <!-- END Note Action !-->
                                <!-- BEGIN Note Preview Text !-->
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                <!-- BEGIN Note Preview Text !-->
                            </div>
                            <!-- BEGIN Note Details !-->
                            <div class="right pull-right">
                                <!-- BEGIN Note Date !-->
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                <!-- END Note Date !-->
                            </div>
                            <!-- END Note Details !-->
                        </li>
                        <!-- END Note List !-->
                        <!-- BEGIN Note Item !-->
                        <li data-noteid="4">
                            <div class="left">
                                <!-- BEGIN Note Action !-->
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox5" type="checkbox" value="1">
                                    <label for="qncheckbox5"></label>
                                </div>
                                <!-- END Note Action !-->
                                <!-- BEGIN Note Preview Text !-->
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                <!-- BEGIN Note Preview Text !-->
                            </div>
                            <!-- BEGIN Note Details !-->
                            <div class="right pull-right">
                                <!-- BEGIN Note Date !-->
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                <!-- END Note Date !-->
                            </div>
                            <!-- END Note Details !-->
                        </li>
                        <!-- END Note List !-->
                    </ul>
                </div>
                <!-- END Note List !-->
                <div class="view note" id="quick-note">
                    <div>
                        <ul class="toolbar">
                            <li>
                                <a href="#" class="close-note-link"><i class="pg-arrow_left"></i></a>
                            </li>
                            <li>
                                <a href="#" data-action="Bold" class="fs-12"><i class="fa fa-bold"></i></a>
                            </li>
                            <li>
                                <a href="#" data-action="Italic" class="fs-12"><i class="fa fa-italic"></i></a>
                            </li>
                            <li>
                                <a href="#" class="fs-12"><i class="fa fa-link"></i></a>
                            </li>
                        </ul>
                        <div class="body">
                            <div>
                                <div class="top">
                                    <span>21st april 2014 2:13am</span>
                                </div>
                                <div class="content">
                                    <div class="quick-note-editor full-width full-height js-input" contenteditable="true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Notes !-->
        <!-- BEGIN Alerts !-->
        <div class="tab-pane no-padding" id="quickview-alerts">
            <div class="view-port clearfix" id="alerts">
                <!-- BEGIN Alerts View !-->
                <div class="view bg-white">
                    <!-- BEGIN View Header !-->
                    <div class="navbar navbar-default navbar-sm">
                        <div class="navbar-inner">
                            <!-- BEGIN Header Controler !-->
                            <a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                                <i class="pg-more"></i>
                            </a>
                            <!-- END Header Controler !-->
                            <div class="view-heading">
                                Notications
                            </div>
                            <!-- BEGIN Header Controler !-->
                            <a href="#" class="inline action p-r-10 pull-right link text-master">
                                <i class="pg-search"></i>
                            </a>
                            <!-- END Header Controler !-->
                        </div>
                    </div>
                    <!-- END View Header !-->
                    <!-- BEGIN Alert List !-->
                    <div data-init-list-view="ioslist" class="list-view boreded no-top-border">
                        <!-- BEGIN List Group !-->
                        <div class="list-view-group-container">
                            <!-- BEGIN List Group Header!-->
                            <div class="list-view-group-header text-uppercase">
                                Calendar
                            </div>
                            <!-- END List Group Header!-->
                            <ul>
                                <!-- BEGIN List Group Item!-->
                                <li class="alert-list">
                                    <!-- BEGIN Alert Item Set Animation using data-view-animation !-->
                                    <a href="javascript:;" class="align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                                        <p class="">
                                            <span class="text-warning fs-10"><i class="fa fa-circle"></i></span>
                                        </p>
                                        <p class="p-l-10 overflow-ellipsis fs-12">
                                            <span class="text-master">David Nester Birthday</span>
                                        </p>
                                        <p class="p-r-10 ml-auto fs-12 text-right">
                                            <span class="text-warning">Today <br></span>
                                            <span class="text-master">All Day</span>
                                        </p>
                                    </a>
                                    <!-- END Alert Item!-->
                                    <!-- BEGIN List Group Item!-->
                                </li>
                                <!-- END List Group Item!-->
                                <!-- BEGIN List Group Item!-->
                                <li class="alert-list">
                                    <!-- BEGIN Alert Item Set Animation using data-view-animation !-->
                                    <a href="#" class="align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                                        <p class="">
                                            <span class="text-warning fs-10"><i class="fa fa-circle"></i></span>
                                        </p>
                                        <p class="p-l-10 overflow-ellipsis fs-12">
                                            <span class="text-master">Meeting at 2:30</span>
                                        </p>
                                        <p class="p-r-10 ml-auto fs-12 text-right">
                                            <span class="text-warning">Today</span>
                                        </p>
                                    </a>
                                    <!-- END Alert Item!-->
                                </li>
                                <!-- END List Group Item!-->
                            </ul>
                        </div>
                        <!-- END List Group !-->
                        <div class="list-view-group-container">
                            <!-- BEGIN List Group Header!-->
                            <div class="list-view-group-header text-uppercase">
                                Social
                            </div>
                            <!-- END List Group Header!-->
                            <ul>
                                <!-- BEGIN List Group Item!-->
                                <li class="alert-list">
                                    <!-- BEGIN Alert Item Set Animation using data-view-animation !-->
                                    <a href="javascript:;" class="p-t-10 p-b-10 align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                                        <p class="">
                                            <span class="text-complete fs-10"><i class="fa fa-circle"></i></span>
                                        </p>
                                        <p class="col overflow-ellipsis fs-12 p-l-10">
                                            <span class="text-master link">Jame Smith commented on your status<br></span>
                                            <span class="text-master">“Perfection Simplified - Company Revox"</span>
                                        </p>
                                    </a>
                                    <!-- END Alert Item!-->
                                </li>
                                <!-- END List Group Item!-->
                                <!-- BEGIN List Group Item!-->
                                <li class="alert-list">
                                    <!-- BEGIN Alert Item Set Animation using data-view-animation !-->
                                    <a href="javascript:;" class="p-t-10 p-b-10 align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                                        <p class="">
                                            <span class="text-complete fs-10"><i class="fa fa-circle"></i></span>
                                        </p>
                                        <p class="col overflow-ellipsis fs-12 p-l-10">
                                            <span class="text-master link">Jame Smith commented on your status<br></span>
                                            <span class="text-master">“Perfection Simplified - Company Revox"</span>
                                        </p>
                                    </a>
                                    <!-- END Alert Item!-->
                                </li>
                                <!-- END List Group Item!-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <!-- BEGIN List Group Header!-->
                            <div class="list-view-group-header text-uppercase">
                                Sever Status
                            </div>
                            <!-- END List Group Header!-->
                            <ul>
                                <!-- BEGIN List Group Item!-->
                                <li class="alert-list">
                                    <!-- BEGIN Alert Item Set Animation using data-view-animation !-->
                                    <a href="#" class="p-t-10 p-b-10 align-items-center" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                                        <p class="">
                                            <span class="text-danger fs-10"><i class="fa fa-circle"></i></span>
                                        </p>
                                        <p class="col overflow-ellipsis fs-12 p-l-10">
                                            <span class="text-master link">12:13AM GTM, 10230, ID:WR174s<br></span>
                                            <span class="text-master">Server Load Exceeted. Take action</span>
                                        </p>
                                    </a>
                                    <!-- END Alert Item!-->
                                </li>
                                <!-- END List Group Item!-->
                            </ul>
                        </div>
                    </div>
                    <!-- END Alert List !-->
                </div>
                <!-- EEND Alerts View !-->
            </div>
        </div>
        <!-- END Alerts !-->
        <div class="tab-pane active no-padding" id="quickview-chat">
            <div class="view-port clearfix" id="chat">
                <div class="view bg-white">
                    <!-- BEGIN View Header !-->
                    <div class="navbar navbar-default">
                        <div class="navbar-inner">
                            <!-- BEGIN Header Controler !-->
                            <a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                                <i class="pg-plus"></i>
                            </a>
                            <!-- END Header Controler !-->
                            <div class="view-heading">
                                Chat List
                                <div class="fs-11">Show All</div>
                            </div>
                            <!-- BEGIN Header Controler !-->
                            <a href="#" class="inline action p-r-10 pull-right link text-master">
                                <i class="pg-more"></i>
                            </a>
                            <!-- END Header Controler !-->
                        </div>
                    </div>
                    <!-- END View Header !-->
                    <div data-init-list-view="ioslist" class="list-view boreded no-top-border">
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">
                                a
                            </div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/1x.jpg" data-src="/site/assets/img/profiles/1.jpg" src="/site/assets/img/profiles/1x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">ava flores</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">b</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/2x.jpg" data-src="/site/assets/img/profiles/2.jpg" src="/site/assets/img/profiles/2x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">bella mccoy</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/3x.jpg" data-src="/site/assets/img/profiles/3.jpg" src="/site/assets/img/profiles/3x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">bob stephens</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">c</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/4x.jpg" data-src="/site/assets/img/profiles/4.jpg" src="/site/assets/img/profiles/4x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">carole roberts</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/5x.jpg" data-src="/site/assets/img/profiles/5.jpg" src="/site/assets/img/profiles/5x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">christopher perez</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">d</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/6x.jpg" data-src="/site/assets/img/profiles/6.jpg" src="/site/assets/img/profiles/6x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">danielle fletcher</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/7x.jpg" data-src="/site/assets/img/profiles/7.jpg" src="/site/assets/img/profiles/7x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">david sutton</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">e</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/8x.jpg" data-src="/site/assets/img/profiles/8.jpg" src="/site/assets/img/profiles/8x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">earl hamilton</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/9x.jpg" data-src="/site/assets/img/profiles/9.jpg" src="/site/assets/img/profiles/9x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">elaine lawrence</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/1x.jpg" data-src="/site/assets/img/profiles/1.jpg" src="/site/assets/img/profiles/1x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">ellen grant</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/2x.jpg" data-src="/site/assets/img/profiles/2.jpg" src="/site/assets/img/profiles/2x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">erik taylor</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/3x.jpg" data-src="/site/assets/img/profiles/3.jpg" src="/site/assets/img/profiles/3x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">everett wagner</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">f</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/4x.jpg" data-src="/site/assets/img/profiles/4.jpg" src="/site/assets/img/profiles/4x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">freddie gomez</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">g</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/5x.jpg" data-src="/site/assets/img/profiles/5.jpg" src="/site/assets/img/profiles/5x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">glen jensen</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/6x.jpg" data-src="~/site/assets/img/profiles/6.jpg" src="~/site/assets/img/profiles/6x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">gwendolyn walker</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">j</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/7x.jpg" data-src="~/site/assets/img/profiles/7.jpg" src="~/site/assets/img/profiles/7x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">janet romero</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">k</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/8x.jpg" data-src="/site/assets/img/profiles/8.jpg" src="/site/assets/img/profiles/8x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">kim martinez</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">l</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/9x.jpg" data-src="~/site/assets/img/profiles/9.jpg" src="~/site/assets/img/profiles/9x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">lawrence white</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/1x.jpg" data-src="~/site/assets/img/profiles/1.jpg" src="~/site/assets/img/profiles/1x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">leroy bell</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/2x.jpg" data-src="~/site/assets/img/profiles/2.jpg" src="~/site/assets/img/profiles/2x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">letitia carr</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/3x.jpg" data-src="~/site/assets/img/profiles/3.jpg" src="~/site/assets/img/profiles/3x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">lucy castro</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">m</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/4x.jpg" data-src="~/site/assets/img/profiles/4.jpg" src="~/site/assets/img/profiles/4x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">mae hayes</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/5x.jpg" data-src="/site/assets/img/profiles/5.jpg" src="/site/assets/img/profiles/5x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">marilyn owens</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/6x.jpg" data-src="~/site/assets/img/profiles/6.jpg" src="~/site/assets/img/profiles/6x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">marlene cole</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/7x.jpg" data-src="~/site/assets/img/profiles/7.jpg" src="~/site/assets/img/profiles/7x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">marsha warren</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/8x.jpg" data-src="/site/assets/img/profiles/8.jpg" src="/site/assets/img/profiles/8x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">marsha dean</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/9x.jpg" data-src="~/site/assets/img/profiles/9.jpg" src="~/site/assets/img/profiles/9x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">mia diaz</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">n</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/1x.jpg" data-src="~/site/assets/img/profiles/1.jpg" src="~/site/assets/img/profiles/1x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">noah elliott</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">p</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/2x.jpg" data-src="~/site/assets/img/profiles/2.jpg" src="~/site/assets/img/profiles/2x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">phyllis hamilton</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">r</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/3x.jpg" data-src="~/site/assets/img/profiles/3.jpg" src="~/site/assets/img/profiles/3x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">raul rodriquez</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/4x.jpg" data-src="~/site/assets/img/profiles/4.jpg" src="~/site/assets/img/profiles/4x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">rhonda barnett</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/5x.jpg" data-src="~/site/assets/img/profiles/5.jpg" src="~/site/assets/img/profiles/5x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">roberta king</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">s</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/6x.jpg" data-src="~/site/assets/img/profiles/6.jpg" src="~/site/assets/img/profiles/6x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">scott armstrong</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/7x.jpg" data-src="~/site/assets/img/profiles/7.jpg" src="~/site/assets/img/profiles/7x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">sebastian austin</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="/site/assets/img/profiles/8x.jpg" data-src="/site/assets/img/profiles/8.jpg" src="/site/assets/img/profiles/8x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">sofia davis</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">t</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/9x.jpg" data-src="~/site/assets/img/profiles/9.jpg" src="~/site/assets/img/profiles/9x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">terrance young</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/1x.jpg" data-src="~/site/assets/img/profiles/1.jpg" src="~/site/assets/img/profiles/1x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">theodore woods</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/2x.jpg" data-src="~/site/assets/img/profiles/2.jpg" src="~/site/assets/img/profiles/2x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">todd wood</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/3x.jpg" data-src="~/site/assets/img/profiles/3.jpg" src="~/site/assets/img/profiles/3x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">tommy jenkins</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">w</div>
                            <ul>
                                <!-- BEGIN Chat User List Item  !-->
                                <li class="chat-user-list clearfix">
                                    <a data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view" class="" href="#">
                                        <span class="thumbnail-wrapper d32 circular bg-success">
                                            <img width="34" height="34" alt="" data-src-retina="~/site/assets/img/profiles/4x.jpg" data-src="~/site/assets/img/profiles/4.jpg" src="~/site/assets/img/profiles/4x.jpg" class="col-top">
                                        </span>
                                        <p class="p-l-10 ">
                                            <span class="text-master">wilma hicks</span>
                                            <span class="block text-master hint-text fs-12">Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <!-- END Chat User List Item  !-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- BEGIN Conversation View  !-->
                <div class="view chat-view bg-white clearfix">
                    <!-- BEGIN Header  !-->
                    <div class="navbar navbar-default">
                        <div class="navbar-inner">
                            <a href="javascript:;" class="link text-master inline action p-l-10 p-r-10" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                                <i class="pg-arrow_left"></i>
                            </a>
                            <div class="view-heading">
                                John Smith
                                <div class="fs-11 hint-text">Online</div>
                            </div>
                            <a href="#" class="link text-master inline action p-r-10 pull-right ">
                                <i class="pg-more"></i>
                            </a>
                        </div>
                    </div>
                    <!-- END Header  !-->
                    <!-- BEGIN Conversation  !-->
                    <div class="chat-inner" id="my-conversation">
                        <!-- BEGIN From Me Message  !-->
                        <div class="message clearfix">
                            <div class="chat-bubble from-me">
                                Hello there
                            </div>
                        </div>
                        <!-- END From Me Message  !-->
                        <!-- BEGIN From Them Message  !-->
                        <div class="message clearfix">
                            <div class="profile-img-wrapper m-t-5 inline">
                                <img class="col-top" width="30" height="30" src="/site/assets/img/profiles/avatar_small.jpg" alt="" data-src="/site/assets/img/profiles/avatar_small.jpg" data-src-retina="/site/assets/img/profiles/avatar_small2x.jpg">
                            </div>
                            <div class="chat-bubble from-them">
                                Hey
                            </div>
                        </div>
                        <!-- END From Them Message  !-->
                        <!-- BEGIN From Me Message  !-->
                        <div class="message clearfix">
                            <div class="chat-bubble from-me">
                                Did you check out Pages framework ?
                            </div>
                        </div>
                        <!-- END From Me Message  !-->
                        <!-- BEGIN From Me Message  !-->
                        <div class="message clearfix">
                            <div class="chat-bubble from-me">
                                Its an awesome chat
                            </div>
                        </div>
                        <!-- END From Me Message  !-->
                        <!-- BEGIN From Them Message  !-->
                        <div class="message clearfix">
                            <div class="profile-img-wrapper m-t-5 inline">
                                <img class="col-top" width="30" height="30" src="/site/assets/img/profiles/avatar_small.jpg" alt="" data-src="/site/assets/img/profiles/avatar_small.jpg" data-src-retina="/site/assets/img/profiles/avatar_small2x.jpg">
                            </div>
                            <div class="chat-bubble from-them">
                                Yea
                            </div>
                        </div>
                        <!-- END From Them Message  !-->
                    </div>
                    <!-- BEGIN Conversation  !-->
                    <!-- BEGIN Chat Input  !-->
                    <div class="b-t b-grey bg-white clearfix p-l-10 p-r-10">
                        <div class="row">
                            <div class="col-1 p-t-15">
                                <a href="#" class="link text-master"><i class="fa fa-plus-circle"></i></a>
                            </div>
                            <div class="col-8 no-padding">
                                <input type="text" class="form-control chat-input" data-chat-input="" data-chat-conversation="#my-conversation" placeholder="Say something">
                            </div>
                            <div class="col-2 link text-master m-l-10 m-t-15 p-l-10 b-l b-grey col-top">
                                <a href="#" class="link text-master"><i class="pg-camera"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- END Chat Input  !-->
                </div>
                <!-- END Conversation View  !-->
            </div>
        </div>
    </div>
</div>
<!-- END QUICKVIEW-->
<!-- START OVERLAY -->
<div class="overlay hide" data-pages="search">
    <!-- BEGIN Overlay Content !-->
    <div class="overlay-content has-results m-t-20">
        <!-- BEGIN Overlay Header !-->
        <div class="container-fluid">
            <!-- BEGIN Overlay Logo !-->
            <img class="overlay-brand" src="/site/assets/img/logo.png" alt="logo" data-src="/site/assets/img/logo.png" data-src-retina="/site/assets/img/logo_2x.png" width="78" height="22">
            <!-- END Overlay Logo !-->
            <!-- BEGIN Overlay Close !-->
            <a href="#" class="close-icon-light overlay-close text-black fs-16">
                <i class="pg-close"></i>
            </a>
            <!-- END Overlay Close !-->
        </div>
        <!-- END Overlay Header !-->
        <div class="container-fluid">
            <!-- BEGIN Overlay Controls !-->
            <input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
            <br>
            <div class="inline-block">
                <div class="checkbox right">
                    <input id="checkboxn" type="checkbox" value="1" checked="checked">
                    <label for="checkboxn"><i class="fa fa-search"></i> Search within page</label>
                </div>
            </div>
            <div class="inline-block m-l-10">
                <p class="fs-13">Press enter to search</p>
            </div>
            <!-- END Overlay Controls !-->
        </div>
        <!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->
        <div class="container-fluid">
            <span>
                <strong>suggestions :</strong>
            </span>
            <span id="overlay-suggestions"></span>
            <br>
            <div class="search-results m-t-40">
                <p class="bold">Pages Search Results</p>
                <div class="row">
                    <div class="col-md-6">
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div>
                                    <img width="50" height="50" src="/site/assets/img/profiles/avatar.jpg" data-src="/site/assets/img/profiles/avatar.jpg" data-src-retina="/site/assets/img/profiles/avatar2x.jpg" alt="">
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on pages</h5>
                                <p class="hint-text">via john smith</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div>T</div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> related topics</h5>
                                <p class="hint-text">via pages</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                                <div>
                                    <i class="fa fa-headphones large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> music</h5>
                                <p class="hint-text">via pagesmix</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                    </div>
                    <div class="col-md-6">
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">
                                <div>
                                    <i class="fa fa-facebook large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5"><span class="semi-bold result-name">ice cream</span> on facebook</h5>
                                <p class="hint-text">via facebook</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">
                                <div>
                                    <i class="fa fa-twitter large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5">Tweats on<span class="semi-bold result-name"> ice cream</span></h5>
                                <p class="hint-text">via twitter</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                        <!-- BEGIN Search Result Item !-->
                        <div class="">
                            <!-- BEGIN Search Result Item Thumbnail !-->
                            <div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">
                                <div>
                                    <i class="fa fa-google-plus large-text "></i>
                                </div>
                            </div>
                            <!-- END Search Result Item Thumbnail !-->
                            <div class="p-l-10 inline p-t-5">
                                <h5 class="m-b-5">Circles on<span class="semi-bold result-name"> ice cream</span></h5>
                                <p class="hint-text">via google plus</p>
                            </div>
                        </div>
                        <!-- END Search Result Item !-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END Overlay Search Results !-->
    </div>
    <!-- END Overlay Content !-->
</div>
<!-- END OVERLAY -->
<!-- BEGIN VENDOR JS -->
<!-- END VENDOR JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
@*<script src="/site/assets/js/scripts.js" type="text/javascript"></script>*@
<!-- END PAGE LEVEL JS -->
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
@*<script src="/site/assets/js/scripts.js" type="text/javascript"></script>*@
<!-- END PAGE LEVEL JS -->