﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- START card -->
<div class="card card-default">
    <div class="card-header ">
        <div class="card-title">
            Search
        </div>
    </div>
    <div class="card-body">
        <h5>
            <strong>Enter the reference number of the document below.</strong>
        </h5>
        <form class="" role="form" action=@Url.Action("Index","Timeline")>
            <div class="form-group form-group-default required ">
                <label>Ref No:</label>
                <input type="text" class="form-control" placeholder = "e.g. CAG/237/VOL.1/099" required = "required">
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>
<!-- END card -->