﻿
@{
    ViewBag.Title = "DiscardedVouchers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg bg-white">
    <!-- START card -->
    <div class="card card-transparent">
        <div class="card-header  d-flex justify-content-between">
            <div class="card-title">
                Discarded Vouchers
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-responsive-block" id="VoucherTable" style="width:100%;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Departmental No</th>
                        <th>PV No.</th>
                        <th>Beneficiary</th>
                        <th>Head</th>
                        <th>Sub Head</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- END card -->
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#VoucherTable').DataTable({
            "bServerSide": true,
            "processing": true,
            "sAjaxSource": "/Voucher/GetDiscardedVouchers",
            "sServerMethod": "POST",
            "aoColumns": [
            { "mData": "Date", "name": "Date", "autoWidth": true },
            { "mData": "DepartmentalNo", "name": "Departmental No", "autoWidth": true },
            { "mData": "PVNo", "name": "PV No", "autoWidth": true },
            { "mData": "PaymentMadeTo", "name": "Beneficiary", "autoWidth": true },
            { "mData": "Head", "name": "Head", "autoWidth": true },
            { "mData": "Subhead", "name": "Sub-Head", "autoWidth": true },
            { "mData": "Amount", "name": "Amount", "autoWidth": true },
            {
                data: "status",
                "render": function (data, type, row) {
                    return '<span class="label label-danger">Discarded</span>';
                }
            },
            {
                "searchable": false,
                "orderable": false,
                "mData": function (o) {
                    return "<a href='/Voucher/VoucherDetails?Id=" + o.Id + "' class='btn btn-info'>View Details</a>";
                }
            }
            ],
        });
    });

</script>