﻿@model dms.View_Model.MandateViewModel
@{
    ViewBag.Title = "GenerateMandate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg">
    <!-- START card -->
    <div class="card card-default m-t-20">
        <div class="card-body">
            <form name="frm" method="POST" action="">
                <div class="invoice padding-50 sm-padding-10">
                    <div>
                        <div class="center-div">
                            <img height="150" alt="" class="invoice-logo" src="~/img/logo.jpg" />
                        </div>
                        <div style="text-align:center;">
                            <h2 style="font-weight:bold;font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;text-transform: uppercase;">OFFICE OF THE @Model.user.UserGroup.GroupName</h2>
                            <p style="font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;font-size:14px;">
                                @Model.user.Address
                            </p>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-12" style="margin-bottom:20px;">
                        <div class="row">
                            <div class="col-lg-5 col-sm-height sm-no-padding">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Select Mandate Type</label>
                                    @Html.DropDownListFor(m => m.MandateTypeId, new SelectList(Model.MandateType, "Id", "TypeName"), "", new { @class = "full-width", @id = "selMandateType", @data_placeholder = "Select Mandate Type", @data_init_plugin = "select2", @required = "required" })
                                    @Html.Label("Invisible on Page Load", new { @class = "label label-warning mandateType-validation", @id = "mandateType-validation",@style = "display: none;" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Select Paying Account</label>
                                    @Html.DropDownListFor(m => m.StateAccountId, new SelectList(Model.StateAccounts, "Id", "AccountCategory"), "", new { @class = "full-width", @id = "selAccount", @data_placeholder = "Select Document Type", @data_init_plugin = "select2", @required = "required" })
                                    @Html.Label("Invisible on Page Load", new { @class = "label label-warning payingaccount",@id = "payingaccount-validation",@style = "display: none;" })
                                </div>
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-3 sm-no-padding sm-p-b-20 d-flex align-items-end justify-content-between">
                                <div>
                                    <div class="form-group form-group-default required">
                                        <label>Reference No.</label>
                                        <div class="input-group date col-md-12 p-l-0">
                                            @Html.TextBoxFor(m => m.RefNo, new { @class = "form-control", @required = "required", @id = "RefNo" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Code No.</label>
                                        <div class="input-group date col-md-12 p-l-0">
                                            @Html.TextBoxFor(m => m.CodeNo, new { @class = "form-control", @required = "required", @id = "CodeNo" })
                                        </div>
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Date</label>
                                        <div class="input-group date col-md-12 p-l-0">
                                            @Html.TextBoxFor(m => m.DateEntered, new { @class = "form-control", @id = "datepicker-component2", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group required">
                                    <label>Bank Note</label>
                                    @Html.TextAreaFor(m => m.MandateNote, new { @class = "form-control", @rows = "7", @col = "7", @id = "BankNote" })
                                </div>
                                <br />
                                <table class="table table-striped table-hover table-responsive-block" id="MandateTable" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>SN</th>
                                            <th>PV No</th>
                                            <th>Beneficiary</th>
                                            <th>Bank</th>
                                            <th>Sortcode</th>
                                            <th>Branch</th>
                                            <th>Account No</th>
                                            <th>Amount</th>
                                            <th>Purpose of Payment</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int sno = 0;}
                                        @foreach (var checkedVoucher in Model.CheckedVouchers)
                                        {
                                            <tr class="odd gradeX">
                                                <td>
                                                    @{ sno++; }
                                                    @sno
                                                </td>
                                                <td>@checkedVoucher.PVNo</td>
                                                <td>@checkedVoucher.PaymentMadeTo.BeneficiaryName</td>
                                                @foreach (var beneficiaries in Model.Beneficiaries)
                                                {
                                                    if (beneficiaries.Id == checkedVoucher.PaymentMadeToId)
                                                    {
                                                        <td>@beneficiaries.BeneficiaryBank.BankName</td>
                                                        <td>@beneficiaries.BeneficiaryBank.SortCode</td>
                                                        foreach (var state in Model.States)
                                                        {
                                                            if (state.Id == beneficiaries.BeneficiaryBank.BankBranchId)
                                                            {
                                                                <td>@state.StateName</td>
                                                            }
                                                        }
                                                    }
                                                }
                                                <td>@checkedVoucher.PaymentMadeTo.AccountNumber</td>
                                                <td>@checkedVoucher.TotalAmount</td>
                                                <td>@checkedVoucher.VoucherDescription</td>
                                                <td><a href="@Url.Action("VoucherDetails","Voucher", new { Id = checkedVoucher.Id})" class='btn btn-info'>View Details</a></td>
                                            </tr>
                                          }
                                    </tbody>
                                </table>
                                <br />
                                <div class="form-group pull-right">
                                    <input type="submit" class="btn btn-success btn-cons btn-animated" id="saveDocument" name="saveDocument" value="Generate Mandate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#MandateTable').DataTable();
    });
    //Save all data to database
    $("#saveDocument").click(function () {
        //Validation messages
        //Mandate Type Validation
        var MandateTypeValidation = $('#selMandateType').val();
        if (MandateTypeValidation == "") {
            document.getElementById('selMandateType').focus();
            document.getElementById('mandateType-validation').innerText = "Please select the type of mandate you want to generate";
            document.getElementById('mandateType-validation').style.display = "block";
            return false;
        }
        else {
            document.getElementById('mandateType-validation').style.display = "none";
        }
        //Mandate Type Validation
        var PayingAccount = $('#selAccount').val();
        if (PayingAccount == "") {
            document.getElementById('selAccount').focus();
            document.getElementById('payingaccount-validation').innerText = "Please select the Account you are paying the mandate from";
            document.getElementById('payingaccount-validation').style.display = "block";
            return false;
        }
        else {
            document.getElementById('payingaccount-validation').style.display = "none";
        }

        //Pass voucher item list to controller
        var PayingAccount = $('#selAccount').val();
        var MandateType = $('#selMandateType').val();
        var RefNo = $('#RefNo').val();
        var CodeNo = $('#CodeNo').val();
        var manDate = $('#datepicker-component2').val();
        var BankNote = $('#BankNote').val();
        var itemlist = [];

        //get cell values, instead of the header text.
        $("#MandateTable tbody tr").each(function () {
            var tdlist = $(this).find("td");
            var Item = { PVNo: $(tdlist[1]).html(), Amount: $(tdlist[7]).html(), PurposeOfPayment: $(tdlist[8]).html() };
            itemlist.push(Item);
        })
        $.ajax({
            url: '@Url.Action("GenerateMandate", "Voucher")',
            dataType: "json",
            async: false,
            data: JSON.stringify({
                itemlist: itemlist
                , 'PayingAccount': PayingAccount
                , 'MandateType': MandateType
                , 'RefNo': RefNo
                , 'CodeNo': CodeNo
                , 'manDate': manDate
                , 'BankNote': BankNote
            }),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                alert("Mandate Generated Successfully");
                @*window.open("@Url.Action("DownloadMandate", "Voucher", new { PVNo = ViewBag.RefNo })", '_blank');*@
            },
            error: function (xhr) {
                //alert("error");
            }
        });
    });
</script>