﻿
@{
    ViewBag.Title = "MandateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg bg-white">
    <div class="card card-transparent">
        <div class="card-header  d-flex justify-content-between">
            <div class="card-title">
                All Mandates
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive-block" id="PaidMandateTable" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Reference No</th>
                            <th>PV No</th>
                            <th>Beneficiary</th>
                            <th>Mandate Type</th>
                            <th>Paying Account</th>
                            <th>Account No</th>
                            <th>Amount</th>
                            <th>Purpose of Payment</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#PaidMandateTable').DataTable({
            "ajax": {
                "url": "/Voucher/GetPaidMandates",
                "dataSrc": ""
            },
            "columns": [{ "data": "Date" },
                { "data": "RefNo" },
                { "data": "PVNo" },
                { "data": "Ben" },
                { "data": "PayAccount" },
                { "data": "AccountNo" },
                { "data": "Amount" },
                { "data": "Purpose" },
                {
                    data: "status",
                    "render": function (data, type, row) {
                        if (row.Status === 1) {
                            return '<span class="label label-warning">Pending</span>';
                        }
                        else if (row.Status === 3) {
                            return '<span class="label label-success">Paid</span>';
                        }
                        else if (row.Status === 6) {
                            return '<span class="label label-info">Awaiting Payment</span>';
                        }
                    }
                },
                {
                    "searchable": false,
                    "orderable": false,
                    "mData": function (o) {
                        return "<a href='/Voucher/MandateDetails?Id=" + o.Id + "' class='btn btn-info'>View Details</a>";
                    }
                }]
        });
    });

</script>
