﻿@model dms.View_Model.NewVoucherViewModel
@{
    ViewBag.Title = "MandateDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg">
    <!-- START card -->
    <div class="card card-default m-t-20">
        <div class="card-body">
            <div class="invoice padding-50 sm-padding-10">
                <div class="row">
                    <div class="col-md-2">
                        <div class="center-div">
                            <img height="150" alt="" class="invoice-logo" src="~/img/logo.jpg" />
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div style="text-align:center;">
                            <h2 style="font-weight:bold;font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;text-transform: uppercase;">SOKOTO STATE GOVERNMENT</h2>
                            <p style="font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;font-size:30px;">
                                OFFICE OF THE ACCOUNTANT-GENERAL
                            </p>
                            <p style="font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;font-size:30px;text-decoration: underline;">
                                ACCESS BANK PLC (FAAC) ACCT
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-12" style="margin-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-7 col-sm-height sm-no-padding">
                            <div class="form-group">
                                <label>The Branch Manager</label>
                                <br/>
                                <label>@Model.MandateDetails.PayingAccount.Bank.BankName</label>
                                <br/>
                                <label>@Model.MandateDetails.PayingAccount.Bank.BankAddress</label>
                            </div>
                        </div>
                        <div class="col-lg-5 sm-no-padding sm-p-b-20 d-flex align-items-end justify-content-between">
                            <dl class="dl-horizontal">
                                <dt style="width: 50%">REFERENCE NO:</dt>
                                <dd style="margin-left: 150px;">@Model.MandateDetails.RefNo</dd>
                                <dt style="width: 50%">CODE NO:</dt>
                                <dd style="margin-left: 150px;">@Model.MandateDetails.CodeNo</dd>
                                <dt style="width: 50%">DATE:</dt>
                                <dd style="margin-left: 150px;">@Model.MandateDetails.MandateDate.Value.ToString("dd MMMM, yyyy")</dd>
                                <dt style="width: 50%">PREPARED BY:</dt>
                                <dd style="margin-left: 150px;">@Model.MandateDetails.User.FirstName @Model.MandateDetails.User.LastName</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="col-12">
                    <table class="table table-striped table-hover table-responsive-block" id="MandateTable" style="width:100%;">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>PV No</th>
                                <th>Beneficiary</th>
                                <th>Bank</th>
                                <th>Sortcode</th>
                                <th>Branch</th>
                                <th>Account No</th>
                                <th>Amount</th>
                                <th>Purpose of Payment</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int sno = 0;}
                            @foreach (var mandateVoucher in Model.MandateVouchers)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        @{ sno++; }
                                        @sno
                                    </td>
                                    <td>@mandateVoucher.PVNo</td>
                                    @foreach (var voucher in Model.Vouchers)
                                    {
                                        <td>@voucher.PaymentMadeTo.BeneficiaryName</td>
                                        <td>@voucher.PaymentMadeTo.BeneficiaryBank.BankName</td>
                                        <td>@voucher.PaymentMadeTo.BeneficiaryBank.SortCode</td>
                                        <td>@voucher.PaymentMadeTo.BeneficiaryBank.BankBranch.StateName</td>
                                        <td>@voucher.PaymentMadeTo.AccountNumber</td>
                                    }
                                    <td>@mandateVoucher.Amount</td>
                                    <td>@mandateVoucher.PurposeOfPayment</td>
                                    <td><a href="@Url.Action("VoucherDetails","Voucher", new { Id = mandateVoucher.Id})" class='btn btn-info'>View Details</a></td>
                                </tr>
                               }
                        </tbody>
                    </table>

                </div>
                <br/>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group pull-right">
                                <input type="submit" class="btn btn-success btn-cons btn-animated" name="PrintReport" id="PrintReport" value="Print Mandate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END card -->
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#PrintReport").click(function () {
            window.open("@Url.Action("DownloadMandate", "Voucher", new { RefNo = Model.MandateDetails.RefNo })", '_blank');
        });
    });
</script>