﻿@model dms.View_Model.NewVoucherViewModel
@{
    ViewBag.Title = "NewVoucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid container-fixed-lg">
    <div class="card card-default m-t-20">
        <div class="card-header ">
            <div class="card-title">
                <h5>
                    CREATE NEW VOUCHER
                </h5>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid container-fixed-lg">
                @using (Html.BeginForm("NewVoucher", "Voucher", FormMethod.Post, new
                {
                    enctype = "multipart/form-data",
                    role = "form",
                    @id = "addConsult",
                }))
                {
                    <div class="row">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.PVNo)
                        <div class="col-lg-5">
                            <div class="card card-default">
                                <div class="card-body">
                                    <div class="form-group form-group-default input-group col-md-12">
                                        <div class="form-input-group">
                                            <label>Date</label>
                                            @Html.TextBoxFor(m => m.DateAdded, new { @class = "form-control", @placeholder = "Pick a date", @id = "datepicker-component2" })
                                        </div>
                                        <div class="input-group-append ">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>Voucher No (P.V No.)</label>
                                        @Html.TextBoxFor(m => m.PVNo, new { @class = "form-control", @required = "required", @id = "voucherNo" })
                                    </div>
                                    <div class="form-group form-group-default required ">
                                        <label>Departmental No</label>
                                        @Html.TextBoxFor(m => m.DepartmentalNo, new { @class = "form-control", @required = "required", @autocomplete = "false" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>HEAD</label>
                                        @Html.TextBoxFor(m => m.AccountHead, new { @class = "form-control", @required = "required" })
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>SUB-HEAD</label>
                                        @Html.TextBoxFor(m => m.AccountSubHead, new { @class = "form-control", @required = "required" })
                                    </div>
                                    <div class="form-group form-group-default form-group-default-select2 required">
                                        <label class="">Payment to be made to</label>
                                        @Html.DropDownListFor(m => m.PaymentMadeToId, new SelectList(Model.PaymentMadeTo, "Id", "BeneficiaryName"), "", new { @class = "full-width", @id = "selGroup", @data_placeholder = "Select Beneficiary Name", @data_init_plugin = "select2", @required = "required" })
                                    </div>
                                    <div class="form-group form-group-default required">
                                        <label>Rate</label>
                                        @Html.TextBoxFor(m => m.Rate, new { @class = "form-control rate", @id = "rate" })
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>TOTAL AMOUNT</label>
                                        @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control totalamount", @id = "totalamount", @required = "required" })
                                    </div>
                                    <div class="form-group">
                                        <label>AMOUNT IN WORDS</label>
                                        @Html.TextAreaFor(m => m.AmountInWord, new { @class = "form-control amountinword", @id = "amountinword", @rows = "6", @col = "6", @required = "required" })
                                    </div>
                                    <div class="form-group pull-right">
                                        <button type="submit" class="btn btn-success btn-cons btn-animated" id="saveVoucher" name="saveVoucher" value="Save">Create Voucher</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="card card-default">
                                <div class="card-header ">
                                    <div class="card-title">
                                        Voucher Details
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group required">
                                                <label>Detailed Description of Service or Goods</label>
                                                @Html.TextAreaFor(m => m.VoucherDescription, new { @class = "form-control", @id = "description", @rows = "20", @col = "20", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    //Convert amount to words
    ////Enter Only Numbers
    $(".totalamount").keypress(function (e) {
        if (e.which == 46) {
            if ($(this).val().indexOf('.') != -1) {
                return false;
            }
        }

        if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
    $(".rate").keypress(function (e) {
        if (e.which == 46) {
            if ($(this).val().indexOf('.') != -1) {
                return false;
            }
        }

        if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
    
    //Amount in word
    $(function () {
        $("#totalamount").keyup(function (event) {
            var myURL = '@Url.Action("AmountInWord", "Voucher")';
            var totalAmount = $('#totalamount').val;
            $.ajax({
                url: myURL,
                type: 'POST',
                data: { amount: $(this).val() },
                success: function (result) {
                    $('#amountinword').val(result);
                }
            });
        });
    });
</script>
