﻿
@{
    ViewBag.Title = "PaidMandates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg bg-white">
    <div class="card card-transparent">
        <div class="card-header  d-flex justify-content-between">
            <div class="card-title">
                Paid Mandates
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-responsive-block" id="PaidMandateTable" style="width:100%;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Reference No</th>
                        <th>PV No</th>
                        <th>Beneficiary</th>
                        <th>Paying Account</th>
                        <th>Account No</th>
                        <th>Amount</th>
                        <th>Purpose of Payment</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#PaidMandateTable').DataTable({
            "ajax": {
                "url": "/Voucher/GetPaidMandates",
                "dataSrc": ""
            },
            "columns": [{ "data": "Date" },
                { "data": "RefNo" },
                { "data": "PVNo" },
                { "data": "Ben" },
                { "data": "PayAccount" },
                { "data": "AccountNo" },
                { "data": "Amount" },
                { "data": "Purpose" },
                {
                    data: "status",
                    "render": function (data, type, row) {
                        return '<span class="label label-success">Paid</span>';
                    }
                },
                {
                    "searchable": false,
                    "orderable": false,
                    "mData": function (o) {
                        return "<a href='/Voucher/MandateDetails?Id=" + o.Id + "' class='btn btn-info'>View Details</a>";
                    }
                }]
        });
    });

</script>
