﻿ @model dms.View_Model.NewVoucherViewModel
@{
    ViewBag.Title = "PendingVouchers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg bg-white">
    <div class="card card-transparent">
        <div class="card-header  d-flex justify-content-between">
            <div class="card-title">
                Pending/Unpaid Vouchers
            </div>
            <div class="pull-right">
                <div class="col-xs-12">
                    <input type="submit" id="processMandate" class="btn btn-primary btn-cons" onclick="location.href='@Url.Action("GenerateMandate", "Voucher")';" value="Click Here to Process Mandate" />
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-responsive-block" id="VoucherTable" style="width:100%;">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkAll" /></th>
                        <th>Date</th>
                        <th>Departmental No</th>
                        <th>PV No.</th>
                        <th>Beneficiary</th>
                        <th>Head</th>
                        <th>Sub Head</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pendingVoucher in Model.PendingVouchers)
                    {
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkBox" value="@pendingVoucher.Id" />
                            </td>
                            <td>@pendingVoucher.VoucherDate.ToShortDateString()</td>
                            <td>@pendingVoucher.DepartmentalNo</td>
                            <td>@pendingVoucher.PVNo</td>
                            <td>@pendingVoucher.PaymentMadeTo.BeneficiaryName</td>
                            <td>@pendingVoucher.AccountHead</td>
                            <td>@pendingVoucher.AccountSubHead</td>
                            <td>@pendingVoucher.TotalAmount.ToString("#,##0.00")</td>
                            <td><span class="label label-warning">Pending</span></td>
                            <td><a href="@Url.Action("VoucherDetails","Voucher", new { Id = pendingVoucher.Id})" class='btn btn-info'>View Details</a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="pull-right">
                <div class="col-xs-12">
                    <a href="@Url.Action("GenerateMandate", "Voucher")"><input type="submit" id="processMandate2" class="btn btn-primary btn-cons" value="Click Here to Process Mandate" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#VoucherTable').DataTable();
    });
</script>
<script>
    $(document).ready(function () {

        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });

        $("#processMandate").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            $.ajax({
                url: '@Url.Action("ProcessMandate", "Voucher")',
                dataType: "json",
                async: false,
                data: JSON.stringify(selectedIDs),
                type: "POST",
                contentType: "application/json; charset=utf-8",
            });

        });
        $("#processMandate2").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            $.ajax({
                url: '@Url.Action("ProcessMandate", "Voucher")',
                dataType: "json",
                async: false,
                data: JSON.stringify(selectedIDs),
                type: "POST",
                contentType: "application/json; charset=utf-8",
            });
        });
    });
</script>