﻿@model dms.View_Model.NewVoucherViewModel
@{
    ViewBag.Title = "VoucherDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg">
    <!-- START card -->
    <div class="card card-default m-t-20">
        <div class="card-body">
            <div class="invoice padding-50 sm-padding-10">
                <div class="row">
                    <div class="col-md-2">
                        <div class="center-div">
                            <img height="150" alt="" class="invoice-logo" src="~/img/logo.jpg" />
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div style="text-align:center;">
                            <h2 style="font-weight:bold;font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;text-transform: uppercase;">SOKOTO STATE GOVERNMENT</h2>
                            <p style="font-family:'Times New Roman';padding-bottom:0px;margin-bottom:0px;font-size:30px;">
                                PAYMENT VOUCHER
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-12" style="margin-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-8 col-sm-height sm-no-padding">
                            <dl class="dl-horizontal">
                                <dt style="width: 30%">DEPARTMENTAL NO:</dt>
                                <dd>@Model.VoucherDetail.DepartmentalNo</dd>
                                <dt style="width: 30%">PAYMENT TO BE MADE TO:</dt>
                                <dd>@Model.VoucherDetail.PaymentMadeTo.BeneficiaryName</dd>
                                <dt style="width: 30%">VOUCHER DATE:</dt>
                                <dd>@Model.VoucherDetail.VoucherDate.ToShortDateString()</dd>
                                <dt style="width: 30%">STATUS:</dt>
                                <dd>
                                    @if (Model.VoucherDetail.Status == dms.Models.DocumentStatus.Pending)
                                    {
                                        <span class="label label-warning">Pending</span>
                                    }
                                    else if (Model.VoucherDetail.Status == dms.Models.DocumentStatus.Paid)
                                    {
                                        <span class="label label-success">Paid</span>
                                    }
                                    else if (Model.VoucherDetail.Status == dms.Models.DocumentStatus.AwaitingPayment)
                                    {
                                        <span class="label label-info">Awaiting Payment</span>
                                    }
                                    else if (Model.VoucherDetail.Status == dms.Models.DocumentStatus.DiscardVoucher)
                                    {
                                        <span class="label label-danger">Discarded</span>
                                    }
                                    else
                                    {
                                        <span class="label label-warning">Pending</span>
                                    }
                                </dd>
                                <dt style="width: 30%">DESCRIPTION OF ITEM:</dt>
                                <dd>@Model.VoucherDetail.VoucherDescription</dd>
                                <dt style="width: 30%">AMOUNT:</dt>
                                <dd>@Model.VoucherDetail.TotalAmount.ToString("#,##0.00")</dd>
                                <dt style="width: 30%">AMOUNT IN WORD:</dt>
                                <dd>@Model.VoucherDetail.AmountInWord</dd>
                            </dl>
                        </div>
                        <div class="col-lg-4 sm-no-padding sm-p-b-20 d-flex align-items-end justify-content-between">
                            <dl class="dl-horizontal">
                                <dt>STATION:</dt>
                                <dd>SOKOTO</dd>
                                <dt>MONTH:</dt>
                                <dd>@Model.VoucherDetail.VoucherDate.ToString("MMMM")</dd>
                                <dt>P.V NO:</dt>
                                <dd>@Model.VoucherDetail.PVNo</dd>
                                <dt>HEAD:</dt>
                                <dd>@Model.VoucherDetail.AccountHead</dd>
                                <dt>SUBHEAD:</dt>
                                <dd>@Model.VoucherDetail.AccountSubHead</dd>
                                <dt>PREPARED BY:</dt>
                                <dd>@Model.VoucherDetail.PreparedBy.FirstName @Model.VoucherDetail.PreparedBy.LastName</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group pull-right">
                                @if (Model.VoucherDetail.Status == dms.Models.DocumentStatus.Pending)
                                {
                                    <a href="@Url.Action("DiscardVoucher", "Voucher", new { Id = Model.VoucherDetail.Id})"><input type="submit" class="btn btn-danger btn-cons" value="Discard Voucher" /></a>
                                    <a href="@Url.Action("DiscardVoucher", "Voucher", new { Id = Model.VoucherDetail.Id})"><input type="submit" class="btn btn-danger btn-cons" value="Okay for Payment" /></a>
                                    <a href="@Url.Action("DiscardVoucher", "Voucher", new { Id = Model.VoucherDetail.Id})"><input type="submit" class="btn btn-danger btn-cons" value="Forward to Treasury" /></a>
                                }
                                <input type="submit" class="btn btn-success btn-cons btn-animated" name="PrintReport" id="PrintReport" value="Print Voucher">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END card -->
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#PrintReport").click(function () {
            window.open("@Url.Action("DownloadVoucher", "Voucher", new { PVNo = Model.VoucherDetail.PVNo })", '_blank');
        });
    });
</script>
