﻿@model dms.View_Model.MandateViewModel
@{
    ViewBag.Title = "VouchersAwaitingPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid container-fixed-lg bg-white">
    <div class="card card-transparent">
        <div class="card-header  d-flex justify-content-between">
            <div class="card-title">
                Mandates Awaiting Payment
            </div>
            <div class="pull-right">
                <div class="col-xs-12">
                    <input onclick="location.href='@Url.Action("PayMandate", "Voucher")';" type="submit" id="processMandate" class="btn btn-primary btn-cons" value="Click to Confirm Payment of Mandate" />
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive-block" id="VoucherTable" style="width:100%;">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkAll" /></th>
                            <th>Date</th>
                            <th>Reference No</th>
                            <th>PV No</th>
                            <th>Beneficiary</th>
                            <th>Mandate Type</th>
                            <th>Paying Account</th>
                            <th>Account No</th>
                            <th>Amount</th>
                            <th>Purpose of Payment</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mandate in Model.MandateAwaitingPayment)
                    {
                            <tr class="odd gradeX">
                                <td>
                                    <input type="checkbox" class="checkBox" value="@mandate.Id" />
                                </td>
                                <td>@mandate.MandateDate.Value.ToString("dd/MM/yyyy")</td>
                                <td>@mandate.RefNo</td>
                                <td>@mandate.PVNo</td>
                                @foreach (var voucher in Model.AllVouchers)
                            {
                                if (voucher.PVNo == mandate.PVNo)
                                {
                                    foreach (var beneficiafies in Model.Beneficiaries)
                                    {
                                        if (beneficiafies.Id == voucher.PaymentMadeToId)
                                        {
                                                <td>@beneficiafies.BeneficiaryName</td>
                                        }
                                    }
                                }
                            }
                                <td>@mandate.MandateType.TypeName</td>
                                <td>@mandate.PayingAccount.AccountCategory</td>
                                <td>@mandate.PayingAccount.AccountNumber</td>
                                <td>@mandate.Amount.ToString("#,##0.00")</td>
                                <td>@mandate.PurposeOfPayment</td>
                                <td><a href="@Url.Action("MandateDetails","Voucher", new { Id = mandate.Id})" class='btn btn-info'>View Details</a></td>
                            </tr>
                      }
                    </tbody>
                </table>
            </div>
            <div class="pull-right">
                <div class="col-xs-12">
                    <input onclick="location.href='@Url.Action("PayMandate", "Voucher")';" type="submit" id="processMandate2" class="btn btn-primary btn-cons" value="Click to Confirm Payment of Mandate" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/site/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#VoucherTable').DataTable();
    });
</script>
<script>
    $(document).ready(function () {

        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });

        $("#processMandate").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            $.ajax({
                url: '@Url.Action("PayMandate", "Voucher")',
                dataType: "json",
                async: false,
                data: JSON.stringify(selectedIDs),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert("Mandate has been updated Successfully!!!");
                },
                error: function (xhr) {
                    //alert("error");
                }
            });
        });
        $("#processMandate2").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            $.ajax({
                url: '@Url.Action("PayMandate", "Voucher")',
                dataType: "json",
                async: false,
                data: JSON.stringify(selectedIDs),
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert("Mandate has been updated Successfully!!!");
                },
                error: function (xhr) {
                    //alert("error");
                }
            });
        });
    });
</script>