﻿@using dms.View_Model
@model BankAccountsViewModel
@{
    ViewBag.Title = "AllAccounts";
}

    <div class="commissionerdashboard">
        <div class="row col-12">
            <!-- START CONTAINER FLUID -->
            <div class="card-body clearfix" style="margin-bottom:-25px; margin-top:-30px;">
                <div class="row">
                    <div class="alert alert-success full-width" role="alert">
                        <button class="close" data-dismiss="alert"></button>
                        <strong>Restricted for use by the Commissioner of Finance Only.</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--END CONTAINER FLUID-->
        @*ACCESS BANK AND ZENITH BANK DIVS*@
        <div class="row col-12">
            <div class="col-md-6 m-b-10">
                <!-- START WIDGET D3 widget_graphTileFlat-->
                <div class="widget-8 card no-border bg-warning no-margin widget-loader-bar">
                    <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                            <div class="col-xs-height col-top">
                                <div class="card-header  top-left top-right">
                                    <div class="card-title text-black hint-text">
                                        <span class="font-montserrat fs-11 all-caps">
                                            Access Bank <i class="fa fa-chevron-right"></i>
                                        </span>
                                    </div>
                                    <div class="card-controls">
                                        <ul>
                                            <li>
                                                <a data-toggle="refresh" class="card-refresh text-black" href="#">
                                                    <i class="card-icon card-icon-refresh"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-xs-height ">
                            <div class="col-xs-height col-top relative">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="p-l-20">
                                            @*<h3 class="no-margin p-b-5 text-white">3</h3>*@
                                            <h2 class="">
                                                <span class="label font-montserrat p-b-5">N853, 425, 642.23</span>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                                <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="warning" data-stroke-width="2">
                                    <svg></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </div>
            <div class="col-md-6 m-b-10">
                <!-- START WIDGET D3 widget_graphTileFlat-->
                <div class="widget-8 card no-border bg-success no-margin widget-loader-bar">
                    <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                            <div class="col-xs-height col-top">
                                <div class="card-header  top-left top-right">
                                    <div class="card-title text-black hint-text">
                                        <span class="font-montserrat fs-11 all-caps">
                                            Zenith Bank <i class="fa fa-chevron-right"></i>
                                        </span>
                                    </div>
                                    <div class="card-controls">
                                        <ul>
                                            <li>
                                                <a data-toggle="refresh" class="card-refresh text-black" href="#">
                                                    <i class="card-icon card-icon-refresh"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-xs-height ">
                            <div class="col-xs-height col-top relative">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="p-l-20">
                                            @*<h3 class="no-margin p-b-5 text-white">3</h3>*@
                                            <h2 class="">
                                                <span class="label font-montserrat p-b-5">N347, 653, 265.75</span>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                                <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="warning" data-stroke-width="2">
                                    <svg></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </div>
        </div>
        @*FIDELITY BANK AND ZENITH BANK DIVS*@
        <div class="row col-12">
            <div class="col-md-6 m-b-10">
                <!-- START WIDGET D3 widget_graphTileFlat-->
                <div class="widget-8 card no-border bg-warning no-margin widget-loader-bar">
                    <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                            <div class="col-xs-height col-top">
                                <div class="card-header  top-left top-right">
                                    <div class="card-title text-black hint-text">
                                        <span class="font-montserrat fs-11 all-caps">
                                            Fidelity Bank <i class="fa fa-chevron-right"></i>
                                        </span>
                                    </div>
                                    <div class="card-controls">
                                        <ul>
                                            <li>
                                                <a data-toggle="refresh" class="card-refresh text-black" href="#">
                                                    <i class="card-icon card-icon-refresh"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-xs-height ">
                            <div class="col-xs-height col-top relative">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="p-l-20">
                                            @*<h3 class="no-margin p-b-5 text-white">3</h3>*@
                                            <h2 class="">
                                                <span class="label font-montserrat p-b-5">N967, 234, 546.34</span>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                                <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="warning" data-stroke-width="2">
                                    <svg></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </div>
            <div class="col-md-6 m-b-10">
                <!-- START WIDGET D3 widget_graphTileFlat-->
                <div class="widget-8 card no-border bg-success no-margin widget-loader-bar">
                    <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                            <div class="col-xs-height col-top">
                                <div class="card-header  top-left top-right">
                                    <div class="card-title text-black hint-text">
                                        <span class="font-montserrat fs-11 all-caps">
                                            Zenith Bank <i class="fa fa-chevron-right"></i>
                                        </span>
                                    </div>
                                    <div class="card-controls">
                                        <ul>
                                            <li>
                                                <a data-toggle="refresh" class="card-refresh text-black" href="#">
                                                    <i class="card-icon card-icon-refresh"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-xs-height ">
                            <div class="col-xs-height col-top relative">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="p-l-20">
                                            @*<h3 class="no-margin p-b-5 text-white">3</h3>*@
                                            <h2 class="">
                                                <span class="label font-montserrat p-b-5">N974, 234, 546.34</span>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                                <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="warning" data-stroke-width="2">
                                    <svg></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET -->
            </div>
        </div>
    </div>
